#imaging-container {
    clear: both;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-content: space-between;
    -webkit-align-content: space-between;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 8px;
}
#imaging-canvas {
    -webkit-order: 1;
    order: 1;
}

#gif-output {
    border: 1px solid black;
    -webkit-order: 3;
    order: 3;
}

#imaging-config-container {
    -webkit-order: 2;
    order: 2;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    margin-left: 24px;
}

#num-bins-input {
    margin-left: 16px;
}

@media (max-width: 991px) {
    #big-space {
        margin-top:60px;
    }
    #imaging-canvas {
        margin-top: 12px;
    }

    #imaging-config-container {
        margin-top: 20px;
        margin-left: auto;
    }
}

#save-img-btn {
    float: right;
}
