<div id="imaging-container">

    <canvas #imagingCanvas id='imaging-canvas'>
        Loading
    </canvas>
    <div id="imaging-inputs-container">
        <div id="imaging-config-container">
            <h3>Synthesis Parameters</h3>
            <!-- number of bins slider -->
            <app-visibles-config-slider
                [startValue]="numBins"
                [minValue]="minNumBins"
                [maxValue]="maxNumBins"
                [stepSize]="numBinsStep"
                [labelText]="numBinsLabel"
                (valueChanged)="onNumBinsChanged($event)">
            </app-visibles-config-slider>
            <!-- number of waves slider -->
            <app-visibles-config-slider
                [startValue]="waves"
                [minValue]="minWaves"
                [maxValue]="maxWaves"
                [stepSize]="wavesStep"
                [labelText]="wavesLabel"
                (valueChanged)="onNumWavesChanged($event)">
            </app-visibles-config-slider>
            <!-- update image timer slider -->
            <app-visibles-config-slider
                [startValue]="refreshTime"
                [minValue]="minRefreshTime"
                [maxValue]="maxRefreshTime"
                [stepSize]="refreshTimeStep"
                [labelText]="refreshTimeLabel"
                (slideEnd)="onRefreshTimerChanged($event)">
            </app-visibles-config-slider>
            <div>
                <span id="image-recorded-timestamp">Recorded: {{ timestamp | isoFormatTransform }}</span>
                <button
                    id="save-img-btn"
                    class="btn btn-primary"
                    (click)="onSaveImageBtnClick($event)">
                    Download Image
                </button>
            </div>
        </div><!-- ./#imaging-config-container -->
        <div id="gif-recorder-container">
            <app-gif-recorder
                [dataSource]='gifSrc'
                [numFrames]='numFrames'
                (clickedStart)='clickedGifRecorderStart($event)'
                (clickedStop)='clickedGifRecorderStop($event)'
                (clickedReset)='clickedGifRecorderReset($event)'>
            </app-gif-recorder>
        </div>
    </div><!-- ./#imaging-inputs-container -->
</div>
