
.center-horizontal {
    margin: 0 auto;
}

#imaging-image-container {
    display: inline-block;
    /** margin-right: 20px; */
}

#imaging-config-container {
    width: 49%;
    display: inline-block;
    margin-left: 20px;
}

#num-bins-input {
    margin-left: 16px;
}
.config-row { /* TODO: delete when config slider component is implemented. */
    margin-top: 20px;
    width: 100%;
}

.tall-view {
    margin-top: 20px;
    width: 100% !important;
    margin-left: 0px !important;
}
.center-image-container {
    margin: auto;
}
