<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#" routerLink="/">TART</a>
    <span class="text-white navbar-info navbar-text">{{name}}
        <br>Latitude: {{lat}}&#176; Longitude: {{lng}}&#176; Altitude: {{alt}}m
    </span>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li *ngIf="isLoggedIn" class="nav-item">
                <a class="nav-link" href="#" routerLink="/home" (click)="onLogoutClick()" >Logout</a>
            </li>
            <li *ngIf="!isLoggedIn" class="nav-item">
                <popover-content #loginPopover
                    id="loginPopover"
                    [closeOnClickOutside]="true">
                    <app-login></app-login>
                </popover-content>
                <span id="loginBtn" [popover]="loginPopover" class="nav-link" href="#">Login</span>
            </li>
        </ul>
    </div>
</nav>
<!--
 /info returns
 {
  "info": {
    "L0_frequency": 1571328000.0,
    "bandwidth": 2500000.0,
    "baseband_frequency": 4092000.0,
    "location": {
      "alt": 270.0,
      "lat": -45.85177,
      "lon": 170.5456
    },
    "name": "Signal Hill - Dunedin",
    "num_antenna": 24,
    "operating_frequency": 1575420000.0,
    "sampling_frequency": 16368000.0
  }
}
 1.5f
-->
<ng-loading-bar></ng-loading-bar>
<ul class="nav nav-tabs" *ngIf="isLoggedIn">
    <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/off-mode" routerLinkActive="active text-primary bg-light-grey">Idle</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/diag-mode" routerLinkActive="active text-primary bg-light-grey">Diagnose</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/raw-data-mode" routerLinkActive="active text-primary bg-light-grey">Raw Data</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/vis-data-mode" routerLinkActive="active text-primary bg-light-grey">Vis Data</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/calibrate-mode" routerLinkActive="active text-primary bg-light-grey">Calibrate</a>
    </li>
    <!-- rtn sync mode -->
    <!--li class="nav-item">
        <a class="nav-link" href="#" routerLink="/hd-img-mode" routerLinkActive="active text-primary bg-light-grey">Harddrive Image</a>
    </li-->
</ul>
