# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Backup source files
*~

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/


# Icarus Verilog and related binaries & data
*.out
*.vcd
*.gtkw
*.md5

# Xilinx synthesis-generated stuff
hardware/FPGA/tart_spi/_x*
tart*.bgn
tart*.bld
tart*.lso
tart*.drc
tart*.ngc
tart*.ncd
tart*.ngd
tart*.ngr
tart*.ngm
tart*.bit
tart*.map
tart*.mrp
tart*.xrpt
tart*.twr
tart*.twx
tart*.pad
tart*.par
tart*.psr
tart*.xst
tart*.xpi
tart*.pcf
tart*.prj
tart*.syr
tart*.stx
hardware/FPGA/tart_spi/*.html
hardware/FPGA/tart_spi/*.xml
hardware/FPGA/tart_spi/ipcore_dir/
hardware/FPGA/tart_spi/iseconfig/
hardware/FPGA/tart_spi/xlnx_auto_0_xdb/
hardware/FPGA/tart_spi/xst/
