# DSP48-based correlator layout:
INST "DSP/COR/CXB0/BDSP/CORN0/CS0/DSPCS" LOC=DSP48_X0Y0;
INST "DSP/COR/CXB0/BDSP/CORN1/CS0/DSPCS" LOC=DSP48_X0Y1;
INST "DSP/COR/CXB0/BDSP/CORN2/CS0/DSPCS" LOC=DSP48_X0Y2;
INST "DSP/COR/CXB0/BDSP/CORN3/CS0/DSPCS" LOC=DSP48_X0Y3;

INST "DSP/COR/CXB0/BDSP/CORN0/COSRAM<0>/RAM32M0" LOC=SLICE_X0Y2;
INST "DSP/COR/CXB0/BDSP/CORN0/COSRAM<1>/RAM32M0" LOC=SLICE_X0Y3;
INST "DSP/COR/CXB0/BDSP/CORN0/COSRAM<2>/RAM32M0" LOC=SLICE_X4Y2;
INST "DSP/COR/CXB0/BDSP/CORN0/COSRAM<3>/RAM32M0" LOC=SLICE_X4Y3;

INST "DSP/COR/CXB0/BDSP/CORN0/SINRAM<0>/RAM32M0" LOC=SLICE_X12Y2;
INST "DSP/COR/CXB0/BDSP/CORN0/SINRAM<1>/RAM32M0" LOC=SLICE_X12Y3;
INST "DSP/COR/CXB0/BDSP/CORN0/SINRAM<2>/RAM32M0" LOC=SLICE_X8Y2;
INST "DSP/COR/CXB0/BDSP/CORN0/SINRAM<3>/RAM32M0" LOC=SLICE_X8Y3;

INST "DSP/COR/CXB0/BDSP/CORN1/COSRAM<0>/RAM32M0" LOC=SLICE_X4Y4;
INST "DSP/COR/CXB0/BDSP/CORN1/COSRAM<1>/RAM32M0" LOC=SLICE_X4Y5;
INST "DSP/COR/CXB0/BDSP/CORN1/COSRAM<2>/RAM32M0" LOC=SLICE_X4Y6;
INST "DSP/COR/CXB0/BDSP/CORN1/COSRAM<3>/RAM32M0" LOC=SLICE_X4Y7;

INST "DSP/COR/CXB0/BDSP/CORN1/SINRAM<0>/RAM32M0" LOC=SLICE_X8Y4;
INST "DSP/COR/CXB0/BDSP/CORN1/SINRAM<1>/RAM32M0" LOC=SLICE_X8Y5;
INST "DSP/COR/CXB0/BDSP/CORN1/SINRAM<2>/RAM32M0" LOC=SLICE_X8Y6;
INST "DSP/COR/CXB0/BDSP/CORN1/SINRAM<3>/RAM32M0" LOC=SLICE_X8Y7;

INST "DSP/COR/CXB0/BDSP/CORN2/COSRAM<0>/RAM32M0" LOC=SLICE_X4Y8;
INST "DSP/COR/CXB0/BDSP/CORN2/COSRAM<1>/RAM32M0" LOC=SLICE_X4Y9;
INST "DSP/COR/CXB0/BDSP/CORN2/COSRAM<2>/RAM32M0" LOC=SLICE_X4Y10;
INST "DSP/COR/CXB0/BDSP/CORN2/COSRAM<3>/RAM32M0" LOC=SLICE_X4Y11;

INST "DSP/COR/CXB0/BDSP/CORN2/SINRAM<0>/RAM32M0" LOC=SLICE_X8Y8;
INST "DSP/COR/CXB0/BDSP/CORN2/SINRAM<1>/RAM32M0" LOC=SLICE_X8Y9;
INST "DSP/COR/CXB0/BDSP/CORN2/SINRAM<2>/RAM32M0" LOC=SLICE_X8Y10;
INST "DSP/COR/CXB0/BDSP/CORN2/SINRAM<3>/RAM32M0" LOC=SLICE_X8Y11;

INST "DSP/COR/CXB0/BDSP/CORN3/COSRAM<0>/RAM32M0" LOC=SLICE_X4Y12;
INST "DSP/COR/CXB0/BDSP/CORN3/COSRAM<1>/RAM32M0" LOC=SLICE_X4Y13;
INST "DSP/COR/CXB0/BDSP/CORN3/COSRAM<2>/RAM32M0" LOC=SLICE_X4Y14;
INST "DSP/COR/CXB0/BDSP/CORN3/COSRAM<3>/RAM32M0" LOC=SLICE_X4Y15;

INST "DSP/COR/CXB0/BDSP/CORN3/SINRAM<0>/RAM32M0" LOC=SLICE_X8Y12;
INST "DSP/COR/CXB0/BDSP/CORN3/SINRAM<1>/RAM32M0" LOC=SLICE_X8Y13;
INST "DSP/COR/CXB0/BDSP/CORN3/SINRAM<2>/RAM32M0" LOC=SLICE_X8Y14;
INST "DSP/COR/CXB0/BDSP/CORN3/SINRAM<3>/RAM32M0" LOC=SLICE_X8Y15;

INST "DSP/COR/CXB1/BDSP/CORN0/CS0/DSPCS" LOC=DSP48_X0Y4;
INST "DSP/COR/CXB1/BDSP/CORN1/CS0/DSPCS" LOC=DSP48_X0Y5;
INST "DSP/COR/CXB1/BDSP/CORN2/CS0/DSPCS" LOC=DSP48_X0Y6;
INST "DSP/COR/CXB1/BDSP/CORN3/CS0/DSPCS" LOC=DSP48_X0Y7;

INST "DSP/COR/CXB1/BDSP/CORN0/COSRAM<0>/RAM32M0" LOC=SLICE_X4Y16;
INST "DSP/COR/CXB1/BDSP/CORN0/COSRAM<1>/RAM32M0" LOC=SLICE_X4Y17;
INST "DSP/COR/CXB1/BDSP/CORN0/COSRAM<2>/RAM32M0" LOC=SLICE_X4Y18;
INST "DSP/COR/CXB1/BDSP/CORN0/COSRAM<3>/RAM32M0" LOC=SLICE_X4Y19;

INST "DSP/COR/CXB1/BDSP/CORN0/SINRAM<0>/RAM32M0" LOC=SLICE_X8Y16;
INST "DSP/COR/CXB1/BDSP/CORN0/SINRAM<1>/RAM32M0" LOC=SLICE_X8Y17;
INST "DSP/COR/CXB1/BDSP/CORN0/SINRAM<2>/RAM32M0" LOC=SLICE_X8Y18;
INST "DSP/COR/CXB1/BDSP/CORN0/SINRAM<3>/RAM32M0" LOC=SLICE_X8Y19;

INST "DSP/COR/CXB1/BDSP/CORN1/COSRAM<0>/RAM32M0" LOC=SLICE_X4Y20;
INST "DSP/COR/CXB1/BDSP/CORN1/COSRAM<1>/RAM32M0" LOC=SLICE_X4Y21;
INST "DSP/COR/CXB1/BDSP/CORN1/COSRAM<2>/RAM32M0" LOC=SLICE_X4Y22;
INST "DSP/COR/CXB1/BDSP/CORN1/COSRAM<3>/RAM32M0" LOC=SLICE_X4Y23;

INST "DSP/COR/CXB1/BDSP/CORN1/SINRAM<0>/RAM32M0" LOC=SLICE_X8Y20;
INST "DSP/COR/CXB1/BDSP/CORN1/SINRAM<1>/RAM32M0" LOC=SLICE_X8Y21;
INST "DSP/COR/CXB1/BDSP/CORN1/SINRAM<2>/RAM32M0" LOC=SLICE_X8Y22;
INST "DSP/COR/CXB1/BDSP/CORN1/SINRAM<3>/RAM32M0" LOC=SLICE_X8Y23;

INST "DSP/COR/CXB1/BDSP/CORN2/COSRAM<0>/RAM32M0" LOC=SLICE_X4Y24;
INST "DSP/COR/CXB1/BDSP/CORN2/COSRAM<1>/RAM32M0" LOC=SLICE_X4Y25;
INST "DSP/COR/CXB1/BDSP/CORN2/COSRAM<2>/RAM32M0" LOC=SLICE_X4Y26;
INST "DSP/COR/CXB1/BDSP/CORN2/COSRAM<3>/RAM32M0" LOC=SLICE_X4Y27;

INST "DSP/COR/CXB1/BDSP/CORN2/SINRAM<0>/RAM32M0" LOC=SLICE_X8Y24;
INST "DSP/COR/CXB1/BDSP/CORN2/SINRAM<1>/RAM32M0" LOC=SLICE_X8Y25;
INST "DSP/COR/CXB1/BDSP/CORN2/SINRAM<2>/RAM32M0" LOC=SLICE_X8Y26;
INST "DSP/COR/CXB1/BDSP/CORN2/SINRAM<3>/RAM32M0" LOC=SLICE_X8Y27;

INST "DSP/COR/CXB1/BDSP/CORN3/COSRAM<0>/RAM32M0" LOC=SLICE_X4Y28;
INST "DSP/COR/CXB1/BDSP/CORN3/COSRAM<1>/RAM32M0" LOC=SLICE_X4Y29;
INST "DSP/COR/CXB1/BDSP/CORN3/COSRAM<2>/RAM32M0" LOC=SLICE_X4Y30;
INST "DSP/COR/CXB1/BDSP/CORN3/COSRAM<3>/RAM32M0" LOC=SLICE_X4Y31;

INST "DSP/COR/CXB1/BDSP/CORN3/SINRAM<0>/RAM32M0" LOC=SLICE_X8Y28;
INST "DSP/COR/CXB1/BDSP/CORN3/SINRAM<1>/RAM32M0" LOC=SLICE_X8Y29;
INST "DSP/COR/CXB1/BDSP/CORN3/SINRAM<2>/RAM32M0" LOC=SLICE_X8Y30;
INST "DSP/COR/CXB1/BDSP/CORN3/SINRAM<3>/RAM32M0" LOC=SLICE_X8Y31;

INST "DSP/COR/CXB2/BDSP/CORN0/CS0/DSPCS" LOC=DSP48_X0Y8;
INST "DSP/COR/CXB2/BDSP/CORN1/CS0/DSPCS" LOC=DSP48_X0Y9;
INST "DSP/COR/CXB2/BDSP/CORN2/CS0/DSPCS" LOC=DSP48_X0Y10;
INST "DSP/COR/CXB2/BDSP/CORN3/CS0/DSPCS" LOC=DSP48_X0Y11;

INST "DSP/COR/CXB2/BDSP/CORN0/COSRAM<0>/RAM32M0" LOC=SLICE_X4Y32;
INST "DSP/COR/CXB2/BDSP/CORN0/COSRAM<1>/RAM32M0" LOC=SLICE_X4Y33;
INST "DSP/COR/CXB2/BDSP/CORN0/COSRAM<2>/RAM32M0" LOC=SLICE_X4Y34;
INST "DSP/COR/CXB2/BDSP/CORN0/COSRAM<3>/RAM32M0" LOC=SLICE_X4Y35;

INST "DSP/COR/CXB2/BDSP/CORN0/SINRAM<0>/RAM32M0" LOC=SLICE_X8Y32;
INST "DSP/COR/CXB2/BDSP/CORN0/SINRAM<1>/RAM32M0" LOC=SLICE_X8Y33;
INST "DSP/COR/CXB2/BDSP/CORN0/SINRAM<2>/RAM32M0" LOC=SLICE_X8Y34;
INST "DSP/COR/CXB2/BDSP/CORN0/SINRAM<3>/RAM32M0" LOC=SLICE_X8Y35;

INST "DSP/COR/CXB2/BDSP/CORN1/COSRAM<0>/RAM32M0" LOC=SLICE_X4Y36;
INST "DSP/COR/CXB2/BDSP/CORN1/COSRAM<1>/RAM32M0" LOC=SLICE_X4Y37;
INST "DSP/COR/CXB2/BDSP/CORN1/COSRAM<2>/RAM32M0" LOC=SLICE_X4Y38;
INST "DSP/COR/CXB2/BDSP/CORN1/COSRAM<3>/RAM32M0" LOC=SLICE_X4Y39;

INST "DSP/COR/CXB2/BDSP/CORN1/SINRAM<0>/RAM32M0" LOC=SLICE_X8Y36;
INST "DSP/COR/CXB2/BDSP/CORN1/SINRAM<1>/RAM32M0" LOC=SLICE_X8Y37;
INST "DSP/COR/CXB2/BDSP/CORN1/SINRAM<2>/RAM32M0" LOC=SLICE_X8Y38;
INST "DSP/COR/CXB2/BDSP/CORN1/SINRAM<3>/RAM32M0" LOC=SLICE_X8Y39;

INST "DSP/COR/CXB2/BDSP/CORN2/COSRAM<0>/RAM32M0" LOC=SLICE_X4Y40;
INST "DSP/COR/CXB2/BDSP/CORN2/COSRAM<1>/RAM32M0" LOC=SLICE_X4Y41;
INST "DSP/COR/CXB2/BDSP/CORN2/COSRAM<2>/RAM32M0" LOC=SLICE_X4Y42;
INST "DSP/COR/CXB2/BDSP/CORN2/COSRAM<3>/RAM32M0" LOC=SLICE_X4Y43;

INST "DSP/COR/CXB2/BDSP/CORN2/SINRAM<0>/RAM32M0" LOC=SLICE_X8Y40;
INST "DSP/COR/CXB2/BDSP/CORN2/SINRAM<1>/RAM32M0" LOC=SLICE_X8Y41;
INST "DSP/COR/CXB2/BDSP/CORN2/SINRAM<2>/RAM32M0" LOC=SLICE_X8Y42;
INST "DSP/COR/CXB2/BDSP/CORN2/SINRAM<3>/RAM32M0" LOC=SLICE_X8Y43;

INST "DSP/COR/CXB2/BDSP/CORN3/COSRAM<0>/RAM32M0" LOC=SLICE_X4Y44;
INST "DSP/COR/CXB2/BDSP/CORN3/COSRAM<1>/RAM32M0" LOC=SLICE_X4Y45;
INST "DSP/COR/CXB2/BDSP/CORN3/COSRAM<2>/RAM32M0" LOC=SLICE_X4Y46;
INST "DSP/COR/CXB2/BDSP/CORN3/COSRAM<3>/RAM32M0" LOC=SLICE_X4Y47;

INST "DSP/COR/CXB2/BDSP/CORN3/SINRAM<0>/RAM32M0" LOC=SLICE_X8Y44;
INST "DSP/COR/CXB2/BDSP/CORN3/SINRAM<1>/RAM32M0" LOC=SLICE_X8Y45;
INST "DSP/COR/CXB2/BDSP/CORN3/SINRAM<2>/RAM32M0" LOC=SLICE_X8Y46;
INST "DSP/COR/CXB2/BDSP/CORN3/SINRAM<3>/RAM32M0" LOC=SLICE_X8Y47;

INST "DSP/COR/CXB3/BDSP/CORN0/CS0/DSPCS" LOC=DSP48_X0Y12;
INST "DSP/COR/CXB3/BDSP/CORN1/CS0/DSPCS" LOC=DSP48_X0Y13;
INST "DSP/COR/CXB3/BDSP/CORN2/CS0/DSPCS" LOC=DSP48_X0Y14;
INST "DSP/COR/CXB3/BDSP/CORN3/CS0/DSPCS" LOC=DSP48_X0Y15;

INST "DSP/COR/CXB3/BDSP/CORN0/COSRAM<0>/RAM32M0" LOC=SLICE_X4Y48;
INST "DSP/COR/CXB3/BDSP/CORN0/COSRAM<1>/RAM32M0" LOC=SLICE_X4Y49;
INST "DSP/COR/CXB3/BDSP/CORN0/COSRAM<2>/RAM32M0" LOC=SLICE_X4Y50;
INST "DSP/COR/CXB3/BDSP/CORN0/COSRAM<3>/RAM32M0" LOC=SLICE_X4Y51;

INST "DSP/COR/CXB3/BDSP/CORN0/SINRAM<0>/RAM32M0" LOC=SLICE_X8Y48;
INST "DSP/COR/CXB3/BDSP/CORN0/SINRAM<1>/RAM32M0" LOC=SLICE_X8Y49;
INST "DSP/COR/CXB3/BDSP/CORN0/SINRAM<2>/RAM32M0" LOC=SLICE_X8Y50;
INST "DSP/COR/CXB3/BDSP/CORN0/SINRAM<3>/RAM32M0" LOC=SLICE_X8Y51;

INST "DSP/COR/CXB3/BDSP/CORN1/COSRAM<0>/RAM32M0" LOC=SLICE_X4Y52;
INST "DSP/COR/CXB3/BDSP/CORN1/COSRAM<1>/RAM32M0" LOC=SLICE_X4Y53;
INST "DSP/COR/CXB3/BDSP/CORN1/COSRAM<2>/RAM32M0" LOC=SLICE_X4Y54;
INST "DSP/COR/CXB3/BDSP/CORN1/COSRAM<3>/RAM32M0" LOC=SLICE_X4Y55;

INST "DSP/COR/CXB3/BDSP/CORN1/SINRAM<0>/RAM32M0" LOC=SLICE_X8Y52;
INST "DSP/COR/CXB3/BDSP/CORN1/SINRAM<1>/RAM32M0" LOC=SLICE_X8Y53;
INST "DSP/COR/CXB3/BDSP/CORN1/SINRAM<2>/RAM32M0" LOC=SLICE_X8Y54;
INST "DSP/COR/CXB3/BDSP/CORN1/SINRAM<3>/RAM32M0" LOC=SLICE_X8Y55;

INST "DSP/COR/CXB3/BDSP/CORN2/COSRAM<0>/RAM32M0" LOC=SLICE_X4Y56;
INST "DSP/COR/CXB3/BDSP/CORN2/COSRAM<1>/RAM32M0" LOC=SLICE_X4Y57;
INST "DSP/COR/CXB3/BDSP/CORN2/COSRAM<2>/RAM32M0" LOC=SLICE_X4Y58;
INST "DSP/COR/CXB3/BDSP/CORN2/COSRAM<3>/RAM32M0" LOC=SLICE_X4Y59;

INST "DSP/COR/CXB3/BDSP/CORN2/SINRAM<0>/RAM32M0" LOC=SLICE_X8Y56;
INST "DSP/COR/CXB3/BDSP/CORN2/SINRAM<1>/RAM32M0" LOC=SLICE_X8Y57;
INST "DSP/COR/CXB3/BDSP/CORN2/SINRAM<2>/RAM32M0" LOC=SLICE_X8Y58;
INST "DSP/COR/CXB3/BDSP/CORN2/SINRAM<3>/RAM32M0" LOC=SLICE_X8Y59;

INST "DSP/COR/CXB3/BDSP/CORN3/COSRAM<0>/RAM32M0" LOC=SLICE_X4Y60;
INST "DSP/COR/CXB3/BDSP/CORN3/COSRAM<1>/RAM32M0" LOC=SLICE_X4Y61;
INST "DSP/COR/CXB3/BDSP/CORN3/COSRAM<2>/RAM32M0" LOC=SLICE_X0Y60;
INST "DSP/COR/CXB3/BDSP/CORN3/COSRAM<3>/RAM32M0" LOC=SLICE_X0Y61;

INST "DSP/COR/CXB3/BDSP/CORN3/SINRAM<0>/RAM32M0" LOC=SLICE_X8Y60;
INST "DSP/COR/CXB3/BDSP/CORN3/SINRAM<1>/RAM32M0" LOC=SLICE_X8Y61;
INST "DSP/COR/CXB3/BDSP/CORN3/SINRAM<2>/RAM32M0" LOC=SLICE_X12Y60;
INST "DSP/COR/CXB3/BDSP/CORN3/SINRAM<3>/RAM32M0" LOC=SLICE_X12Y61;

# RAM Placement:
INST "DSP/COR/CXB0/BDSP/VISRAM<0>/SRAM0" LOC=RAMB8_X0Y0;
INST "DSP/COR/CXB0/BDSP/VISRAM<1>/SRAM0" LOC=RAMB8_X0Y1;
INST "DSP/COR/CXB0/BDSP/VISRAM<2>/SRAM0" LOC=RAMB8_X0Y2;
INST "DSP/COR/CXB0/BDSP/VISRAM<3>/SRAM0" LOC=RAMB8_X0Y3;
INST "DSP/COR/CXB0/BDSP/VISRAM<4>/SRAM0" LOC=RAMB8_X0Y4;
INST "DSP/COR/CXB0/BDSP/VISRAM<5>/SRAM0" LOC=RAMB8_X0Y5;

INST "DSP/COR/CXB1/BDSP/VISRAM<0>/SRAM0" LOC=RAMB8_X0Y8;
INST "DSP/COR/CXB1/BDSP/VISRAM<1>/SRAM0" LOC=RAMB8_X0Y9;
INST "DSP/COR/CXB1/BDSP/VISRAM<2>/SRAM0" LOC=RAMB8_X0Y10;
INST "DSP/COR/CXB1/BDSP/VISRAM<3>/SRAM0" LOC=RAMB8_X0Y11;
INST "DSP/COR/CXB1/BDSP/VISRAM<4>/SRAM0" LOC=RAMB8_X0Y12;
INST "DSP/COR/CXB1/BDSP/VISRAM<5>/SRAM0" LOC=RAMB8_X0Y13;

INST "DSP/COR/CXB2/BDSP/VISRAM<0>/SRAM0" LOC=RAMB8_X0Y16;
INST "DSP/COR/CXB2/BDSP/VISRAM<1>/SRAM0" LOC=RAMB8_X0Y17;
INST "DSP/COR/CXB2/BDSP/VISRAM<2>/SRAM0" LOC=RAMB8_X0Y18;
INST "DSP/COR/CXB2/BDSP/VISRAM<3>/SRAM0" LOC=RAMB8_X0Y19;
INST "DSP/COR/CXB2/BDSP/VISRAM<4>/SRAM0" LOC=RAMB8_X0Y20;
INST "DSP/COR/CXB2/BDSP/VISRAM<5>/SRAM0" LOC=RAMB8_X0Y21;

INST "DSP/COR/CXB3/BDSP/VISRAM<0>/SRAM0" LOC=RAMB8_X0Y24;
INST "DSP/COR/CXB3/BDSP/VISRAM<1>/SRAM0" LOC=RAMB8_X0Y25;
INST "DSP/COR/CXB3/BDSP/VISRAM<2>/SRAM0" LOC=RAMB8_X0Y26;
INST "DSP/COR/CXB3/BDSP/VISRAM<3>/SRAM0" LOC=RAMB8_X0Y27;
INST "DSP/COR/CXB3/BDSP/VISRAM<4>/SRAM0" LOC=RAMB8_X0Y28;
INST "DSP/COR/CXB3/BDSP/VISRAM<5>/SRAM0" LOC=RAMB8_X0Y29;

INST "DSP/COR/CXB0/BDSP/DMUX/MUXF7<0>" LOC=SLICE_X6Y2;
INST "DSP/COR/CXB0/BDSP/DMUX/MUXF7<1>" LOC=SLICE_X6Y2;
INST "DSP/COR/CXB0/BDSP/DMUX/MUXF7<2>" LOC=SLICE_X6Y3;
INST "DSP/COR/CXB0/BDSP/DMUX/MUXF7<3>" LOC=SLICE_X6Y3;
INST "DSP/COR/CXB0/BDSP/DMUX/MUXF7<4>" LOC=SLICE_X6Y4;
INST "DSP/COR/CXB0/BDSP/DMUX/MUXF7<5>" LOC=SLICE_X6Y4;
INST "DSP/COR/CXB0/BDSP/DMUX/MUXF7<6>" LOC=SLICE_X6Y5;
INST "DSP/COR/CXB0/BDSP/DMUX/MUXF7<7>" LOC=SLICE_X6Y5;
INST "DSP/COR/CXB0/BDSP/DMUX/MUXF7<8>" LOC=SLICE_X6Y6;
INST "DSP/COR/CXB0/BDSP/DMUX/MUXF7<9>" LOC=SLICE_X6Y6;
INST "DSP/COR/CXB0/BDSP/DMUX/MUXF7<10>" LOC=SLICE_X6Y7;
INST "DSP/COR/CXB0/BDSP/DMUX/MUXF7<11>" LOC=SLICE_X6Y7;
INST "DSP/COR/CXB0/BDSP/DMUX/MUXF7<12>" LOC=SLICE_X6Y8;
INST "DSP/COR/CXB0/BDSP/DMUX/MUXF7<13>" LOC=SLICE_X6Y8;
INST "DSP/COR/CXB0/BDSP/DMUX/MUXF7<14>" LOC=SLICE_X6Y9;
INST "DSP/COR/CXB0/BDSP/DMUX/MUXF7<15>" LOC=SLICE_X6Y9;
INST "DSP/COR/CXB0/BDSP/DMUX/MUXF7<16>" LOC=SLICE_X6Y10;
INST "DSP/COR/CXB0/BDSP/DMUX/MUXF7<17>" LOC=SLICE_X6Y10;
INST "DSP/COR/CXB0/BDSP/DMUX/MUXF7<18>" LOC=SLICE_X6Y11;
INST "DSP/COR/CXB0/BDSP/DMUX/MUXF7<19>" LOC=SLICE_X6Y11;
INST "DSP/COR/CXB0/BDSP/DMUX/MUXF7<20>" LOC=SLICE_X6Y12;
INST "DSP/COR/CXB0/BDSP/DMUX/MUXF7<21>" LOC=SLICE_X6Y12;
INST "DSP/COR/CXB0/BDSP/DMUX/MUXF7<22>" LOC=SLICE_X6Y13;
INST "DSP/COR/CXB0/BDSP/DMUX/MUXF7<23>" LOC=SLICE_X6Y13;

INST "DSP/COR/CXB1/BDSP/DMUX/MUXF7<0>" LOC=SLICE_X6Y18;
INST "DSP/COR/CXB1/BDSP/DMUX/MUXF7<1>" LOC=SLICE_X6Y18;
INST "DSP/COR/CXB1/BDSP/DMUX/MUXF7<2>" LOC=SLICE_X6Y19;
INST "DSP/COR/CXB1/BDSP/DMUX/MUXF7<3>" LOC=SLICE_X6Y19;
INST "DSP/COR/CXB1/BDSP/DMUX/MUXF7<4>" LOC=SLICE_X6Y20;
INST "DSP/COR/CXB1/BDSP/DMUX/MUXF7<5>" LOC=SLICE_X6Y20;
INST "DSP/COR/CXB1/BDSP/DMUX/MUXF7<6>" LOC=SLICE_X6Y21;
INST "DSP/COR/CXB1/BDSP/DMUX/MUXF7<7>" LOC=SLICE_X6Y21;
INST "DSP/COR/CXB1/BDSP/DMUX/MUXF7<8>" LOC=SLICE_X6Y22;
INST "DSP/COR/CXB1/BDSP/DMUX/MUXF7<9>" LOC=SLICE_X6Y22;
INST "DSP/COR/CXB1/BDSP/DMUX/MUXF7<10>" LOC=SLICE_X6Y23;
INST "DSP/COR/CXB1/BDSP/DMUX/MUXF7<11>" LOC=SLICE_X6Y23;
INST "DSP/COR/CXB1/BDSP/DMUX/MUXF7<12>" LOC=SLICE_X6Y24;
INST "DSP/COR/CXB1/BDSP/DMUX/MUXF7<13>" LOC=SLICE_X6Y24;
INST "DSP/COR/CXB1/BDSP/DMUX/MUXF7<14>" LOC=SLICE_X6Y25;
INST "DSP/COR/CXB1/BDSP/DMUX/MUXF7<15>" LOC=SLICE_X6Y25;
INST "DSP/COR/CXB1/BDSP/DMUX/MUXF7<16>" LOC=SLICE_X6Y26;
INST "DSP/COR/CXB1/BDSP/DMUX/MUXF7<17>" LOC=SLICE_X6Y26;
INST "DSP/COR/CXB1/BDSP/DMUX/MUXF7<18>" LOC=SLICE_X6Y27;
INST "DSP/COR/CXB1/BDSP/DMUX/MUXF7<19>" LOC=SLICE_X6Y27;
INST "DSP/COR/CXB1/BDSP/DMUX/MUXF7<20>" LOC=SLICE_X6Y28;
INST "DSP/COR/CXB1/BDSP/DMUX/MUXF7<21>" LOC=SLICE_X6Y28;
INST "DSP/COR/CXB1/BDSP/DMUX/MUXF7<22>" LOC=SLICE_X6Y29;
INST "DSP/COR/CXB1/BDSP/DMUX/MUXF7<23>" LOC=SLICE_X6Y29;

INST "DSP/COR/CXB2/BDSP/DMUX/MUXF7<0>" LOC=SLICE_X6Y34;
INST "DSP/COR/CXB2/BDSP/DMUX/MUXF7<1>" LOC=SLICE_X6Y34;
INST "DSP/COR/CXB2/BDSP/DMUX/MUXF7<2>" LOC=SLICE_X6Y35;
INST "DSP/COR/CXB2/BDSP/DMUX/MUXF7<3>" LOC=SLICE_X6Y35;
INST "DSP/COR/CXB2/BDSP/DMUX/MUXF7<4>" LOC=SLICE_X6Y36;
INST "DSP/COR/CXB2/BDSP/DMUX/MUXF7<5>" LOC=SLICE_X6Y36;
INST "DSP/COR/CXB2/BDSP/DMUX/MUXF7<6>" LOC=SLICE_X6Y37;
INST "DSP/COR/CXB2/BDSP/DMUX/MUXF7<7>" LOC=SLICE_X6Y37;
INST "DSP/COR/CXB2/BDSP/DMUX/MUXF7<8>" LOC=SLICE_X6Y38;
INST "DSP/COR/CXB2/BDSP/DMUX/MUXF7<9>" LOC=SLICE_X6Y38;
INST "DSP/COR/CXB2/BDSP/DMUX/MUXF7<10>" LOC=SLICE_X6Y39;
INST "DSP/COR/CXB2/BDSP/DMUX/MUXF7<11>" LOC=SLICE_X6Y39;
INST "DSP/COR/CXB2/BDSP/DMUX/MUXF7<12>" LOC=SLICE_X6Y40;
INST "DSP/COR/CXB2/BDSP/DMUX/MUXF7<13>" LOC=SLICE_X6Y40;
INST "DSP/COR/CXB2/BDSP/DMUX/MUXF7<14>" LOC=SLICE_X6Y41;
INST "DSP/COR/CXB2/BDSP/DMUX/MUXF7<15>" LOC=SLICE_X6Y41;
INST "DSP/COR/CXB2/BDSP/DMUX/MUXF7<16>" LOC=SLICE_X6Y42;
INST "DSP/COR/CXB2/BDSP/DMUX/MUXF7<17>" LOC=SLICE_X6Y42;
INST "DSP/COR/CXB2/BDSP/DMUX/MUXF7<18>" LOC=SLICE_X6Y43;
INST "DSP/COR/CXB2/BDSP/DMUX/MUXF7<19>" LOC=SLICE_X6Y43;
INST "DSP/COR/CXB2/BDSP/DMUX/MUXF7<20>" LOC=SLICE_X6Y44;
INST "DSP/COR/CXB2/BDSP/DMUX/MUXF7<21>" LOC=SLICE_X6Y44;
INST "DSP/COR/CXB2/BDSP/DMUX/MUXF7<22>" LOC=SLICE_X6Y45;
INST "DSP/COR/CXB2/BDSP/DMUX/MUXF7<23>" LOC=SLICE_X6Y45;

INST "DSP/COR/CXB3/BDSP/DMUX/MUXF7<0>" LOC=SLICE_X6Y50;
INST "DSP/COR/CXB3/BDSP/DMUX/MUXF7<1>" LOC=SLICE_X6Y50;
INST "DSP/COR/CXB3/BDSP/DMUX/MUXF7<2>" LOC=SLICE_X6Y51;
INST "DSP/COR/CXB3/BDSP/DMUX/MUXF7<3>" LOC=SLICE_X6Y51;
INST "DSP/COR/CXB3/BDSP/DMUX/MUXF7<4>" LOC=SLICE_X6Y52;
INST "DSP/COR/CXB3/BDSP/DMUX/MUXF7<5>" LOC=SLICE_X6Y52;
INST "DSP/COR/CXB3/BDSP/DMUX/MUXF7<6>" LOC=SLICE_X6Y53;
INST "DSP/COR/CXB3/BDSP/DMUX/MUXF7<7>" LOC=SLICE_X6Y53;
INST "DSP/COR/CXB3/BDSP/DMUX/MUXF7<8>" LOC=SLICE_X6Y54;
INST "DSP/COR/CXB3/BDSP/DMUX/MUXF7<9>" LOC=SLICE_X6Y54;
INST "DSP/COR/CXB3/BDSP/DMUX/MUXF7<10>" LOC=SLICE_X6Y55;
INST "DSP/COR/CXB3/BDSP/DMUX/MUXF7<11>" LOC=SLICE_X6Y55;
INST "DSP/COR/CXB3/BDSP/DMUX/MUXF7<12>" LOC=SLICE_X6Y56;
INST "DSP/COR/CXB3/BDSP/DMUX/MUXF7<13>" LOC=SLICE_X6Y56;
INST "DSP/COR/CXB3/BDSP/DMUX/MUXF7<14>" LOC=SLICE_X6Y57;
INST "DSP/COR/CXB3/BDSP/DMUX/MUXF7<15>" LOC=SLICE_X6Y57;
INST "DSP/COR/CXB3/BDSP/DMUX/MUXF7<16>" LOC=SLICE_X6Y58;
INST "DSP/COR/CXB3/BDSP/DMUX/MUXF7<17>" LOC=SLICE_X6Y58;
INST "DSP/COR/CXB3/BDSP/DMUX/MUXF7<18>" LOC=SLICE_X6Y59;
INST "DSP/COR/CXB3/BDSP/DMUX/MUXF7<19>" LOC=SLICE_X6Y59;
INST "DSP/COR/CXB3/BDSP/DMUX/MUXF7<20>" LOC=SLICE_X6Y60;
INST "DSP/COR/CXB3/BDSP/DMUX/MUXF7<21>" LOC=SLICE_X6Y60;
INST "DSP/COR/CXB3/BDSP/DMUX/MUXF7<22>" LOC=SLICE_X6Y61;
INST "DSP/COR/CXB3/BDSP/DMUX/MUXF7<23>" LOC=SLICE_X6Y61;

# Standard adder-based correlator layout:
INST "DSP/COR/CXB4/BSDP/CORN0/COSRAM<0>/RAM32M0" LOC=SLICE_X16Y2;
INST "DSP/COR/CXB4/BSDP/CORN0/COSRAM<1>/RAM32M0" LOC=SLICE_X16Y3;
INST "DSP/COR/CXB4/BSDP/CORN0/COSRAM<2>/RAM32M0" LOC=SLICE_X16Y4;
INST "DSP/COR/CXB4/BSDP/CORN0/COSRAM<3>/RAM32M0" LOC=SLICE_X16Y5;

INST "DSP/COR/CXB4/BSDP/CORN0/SINRAM<0>/RAM32M0" LOC=SLICE_X20Y2;
INST "DSP/COR/CXB4/BSDP/CORN0/SINRAM<1>/RAM32M0" LOC=SLICE_X20Y3;
INST "DSP/COR/CXB4/BSDP/CORN0/SINRAM<2>/RAM32M0" LOC=SLICE_X20Y4;
INST "DSP/COR/CXB4/BSDP/CORN0/SINRAM<3>/RAM32M0" LOC=SLICE_X20Y5;

INST "DSP/COR/CXB4/BSDP/CORN1/COSRAM<0>/RAM32M0" LOC=SLICE_X16Y6;
INST "DSP/COR/CXB4/BSDP/CORN1/COSRAM<1>/RAM32M0" LOC=SLICE_X16Y7;
INST "DSP/COR/CXB4/BSDP/CORN1/COSRAM<2>/RAM32M0" LOC=SLICE_X16Y8;
INST "DSP/COR/CXB4/BSDP/CORN1/COSRAM<3>/RAM32M0" LOC=SLICE_X16Y9;

INST "DSP/COR/CXB4/BSDP/CORN1/SINRAM<0>/RAM32M0" LOC=SLICE_X20Y6;
INST "DSP/COR/CXB4/BSDP/CORN1/SINRAM<1>/RAM32M0" LOC=SLICE_X20Y7;
INST "DSP/COR/CXB4/BSDP/CORN1/SINRAM<2>/RAM32M0" LOC=SLICE_X20Y8;
INST "DSP/COR/CXB4/BSDP/CORN1/SINRAM<3>/RAM32M0" LOC=SLICE_X20Y9;

INST "DSP/COR/CXB4/BSDP/CORN2/COSRAM<0>/RAM32M0" LOC=SLICE_X16Y10;
INST "DSP/COR/CXB4/BSDP/CORN2/COSRAM<1>/RAM32M0" LOC=SLICE_X16Y11;
INST "DSP/COR/CXB4/BSDP/CORN2/COSRAM<2>/RAM32M0" LOC=SLICE_X16Y12;
INST "DSP/COR/CXB4/BSDP/CORN2/COSRAM<3>/RAM32M0" LOC=SLICE_X16Y13;

INST "DSP/COR/CXB4/BSDP/CORN2/SINRAM<0>/RAM32M0" LOC=SLICE_X20Y10;
INST "DSP/COR/CXB4/BSDP/CORN2/SINRAM<1>/RAM32M0" LOC=SLICE_X20Y11;
INST "DSP/COR/CXB4/BSDP/CORN2/SINRAM<2>/RAM32M0" LOC=SLICE_X20Y12;
INST "DSP/COR/CXB4/BSDP/CORN2/SINRAM<3>/RAM32M0" LOC=SLICE_X20Y13;

INST "DSP/COR/CXB4/BSDP/CORN3/COSRAM<0>/RAM32M0" LOC=SLICE_X16Y14;
INST "DSP/COR/CXB4/BSDP/CORN3/COSRAM<1>/RAM32M0" LOC=SLICE_X16Y15;
INST "DSP/COR/CXB4/BSDP/CORN3/COSRAM<2>/RAM32M0" LOC=SLICE_X16Y16;
INST "DSP/COR/CXB4/BSDP/CORN3/COSRAM<3>/RAM32M0" LOC=SLICE_X16Y17;

INST "DSP/COR/CXB4/BSDP/CORN3/SINRAM<0>/RAM32M0" LOC=SLICE_X20Y14;
INST "DSP/COR/CXB4/BSDP/CORN3/SINRAM<1>/RAM32M0" LOC=SLICE_X20Y15;
INST "DSP/COR/CXB4/BSDP/CORN3/SINRAM<2>/RAM32M0" LOC=SLICE_X20Y16;
INST "DSP/COR/CXB4/BSDP/CORN3/SINRAM<3>/RAM32M0" LOC=SLICE_X20Y17;

INST "DSP/COR/CXB5/BSDP/CORN0/COSRAM<0>/RAM32M0" LOC=SLICE_X16Y26;
INST "DSP/COR/CXB5/BSDP/CORN0/COSRAM<1>/RAM32M0" LOC=SLICE_X16Y27;
INST "DSP/COR/CXB5/BSDP/CORN0/COSRAM<2>/RAM32M0" LOC=SLICE_X16Y28;
INST "DSP/COR/CXB5/BSDP/CORN0/COSRAM<3>/RAM32M0" LOC=SLICE_X16Y29;

INST "DSP/COR/CXB5/BSDP/CORN0/SINRAM<0>/RAM32M0" LOC=SLICE_X20Y26;
INST "DSP/COR/CXB5/BSDP/CORN0/SINRAM<1>/RAM32M0" LOC=SLICE_X20Y27;
INST "DSP/COR/CXB5/BSDP/CORN0/SINRAM<2>/RAM32M0" LOC=SLICE_X20Y28;
INST "DSP/COR/CXB5/BSDP/CORN0/SINRAM<3>/RAM32M0" LOC=SLICE_X20Y29;

INST "DSP/COR/CXB5/BSDP/CORN1/COSRAM<0>/RAM32M0" LOC=SLICE_X16Y30;
INST "DSP/COR/CXB5/BSDP/CORN1/COSRAM<1>/RAM32M0" LOC=SLICE_X16Y31;
INST "DSP/COR/CXB5/BSDP/CORN1/COSRAM<2>/RAM32M0" LOC=SLICE_X16Y32;
INST "DSP/COR/CXB5/BSDP/CORN1/COSRAM<3>/RAM32M0" LOC=SLICE_X16Y33;

INST "DSP/COR/CXB5/BSDP/CORN1/SINRAM<0>/RAM32M0" LOC=SLICE_X20Y30;
INST "DSP/COR/CXB5/BSDP/CORN1/SINRAM<1>/RAM32M0" LOC=SLICE_X20Y31;
INST "DSP/COR/CXB5/BSDP/CORN1/SINRAM<2>/RAM32M0" LOC=SLICE_X20Y32;
INST "DSP/COR/CXB5/BSDP/CORN1/SINRAM<3>/RAM32M0" LOC=SLICE_X20Y33;

INST "DSP/COR/CXB5/BSDP/CORN2/COSRAM<0>/RAM32M0" LOC=SLICE_X16Y34;
INST "DSP/COR/CXB5/BSDP/CORN2/COSRAM<1>/RAM32M0" LOC=SLICE_X16Y35;
INST "DSP/COR/CXB5/BSDP/CORN2/COSRAM<2>/RAM32M0" LOC=SLICE_X16Y36;
INST "DSP/COR/CXB5/BSDP/CORN2/COSRAM<3>/RAM32M0" LOC=SLICE_X16Y37;

INST "DSP/COR/CXB5/BSDP/CORN2/SINRAM<0>/RAM32M0" LOC=SLICE_X20Y34;
INST "DSP/COR/CXB5/BSDP/CORN2/SINRAM<1>/RAM32M0" LOC=SLICE_X20Y35;
INST "DSP/COR/CXB5/BSDP/CORN2/SINRAM<2>/RAM32M0" LOC=SLICE_X20Y36;
INST "DSP/COR/CXB5/BSDP/CORN2/SINRAM<3>/RAM32M0" LOC=SLICE_X20Y37;

INST "DSP/COR/CXB5/BSDP/CORN3/COSRAM<0>/RAM32M0" LOC=SLICE_X16Y38;
INST "DSP/COR/CXB5/BSDP/CORN3/COSRAM<1>/RAM32M0" LOC=SLICE_X16Y39;
INST "DSP/COR/CXB5/BSDP/CORN3/COSRAM<2>/RAM32M0" LOC=SLICE_X16Y40;
INST "DSP/COR/CXB5/BSDP/CORN3/COSRAM<3>/RAM32M0" LOC=SLICE_X16Y41;

INST "DSP/COR/CXB5/BSDP/CORN3/SINRAM<0>/RAM32M0" LOC=SLICE_X20Y38;
INST "DSP/COR/CXB5/BSDP/CORN3/SINRAM<1>/RAM32M0" LOC=SLICE_X20Y39;
INST "DSP/COR/CXB5/BSDP/CORN3/SINRAM<2>/RAM32M0" LOC=SLICE_X20Y40;
INST "DSP/COR/CXB5/BSDP/CORN3/SINRAM<3>/RAM32M0" LOC=SLICE_X20Y41;

INST "DSP/COR/CXB4/BSDP/VISRAM<0>/SRAM0" LOC=RAMB8_X1Y4;
INST "DSP/COR/CXB4/BSDP/VISRAM<1>/SRAM0" LOC=RAMB8_X1Y5;
INST "DSP/COR/CXB4/BSDP/VISRAM<2>/SRAM0" LOC=RAMB8_X1Y6;
INST "DSP/COR/CXB4/BSDP/VISRAM<3>/SRAM0" LOC=RAMB8_X1Y7;
INST "DSP/COR/CXB4/BSDP/VISRAM<4>/SRAM0" LOC=RAMB8_X1Y8;
INST "DSP/COR/CXB4/BSDP/VISRAM<5>/SRAM0" LOC=RAMB8_X1Y9;

INST "DSP/COR/CXB4/BSDP/DMUX/MUXF7<0>" LOC=SLICE_X22Y8;
INST "DSP/COR/CXB4/BSDP/DMUX/MUXF7<1>" LOC=SLICE_X22Y8;
INST "DSP/COR/CXB4/BSDP/DMUX/MUXF7<2>" LOC=SLICE_X22Y9;
INST "DSP/COR/CXB4/BSDP/DMUX/MUXF7<3>" LOC=SLICE_X22Y9;
INST "DSP/COR/CXB4/BSDP/DMUX/MUXF7<4>" LOC=SLICE_X22Y10;
INST "DSP/COR/CXB4/BSDP/DMUX/MUXF7<5>" LOC=SLICE_X22Y10;
INST "DSP/COR/CXB4/BSDP/DMUX/MUXF7<6>" LOC=SLICE_X22Y11;
INST "DSP/COR/CXB4/BSDP/DMUX/MUXF7<7>" LOC=SLICE_X22Y11;
INST "DSP/COR/CXB4/BSDP/DMUX/MUXF7<8>" LOC=SLICE_X22Y12;
INST "DSP/COR/CXB4/BSDP/DMUX/MUXF7<9>" LOC=SLICE_X22Y12;
INST "DSP/COR/CXB4/BSDP/DMUX/MUXF7<10>" LOC=SLICE_X22Y13;
INST "DSP/COR/CXB4/BSDP/DMUX/MUXF7<11>" LOC=SLICE_X22Y13;
INST "DSP/COR/CXB4/BSDP/DMUX/MUXF7<12>" LOC=SLICE_X22Y14;
INST "DSP/COR/CXB4/BSDP/DMUX/MUXF7<13>" LOC=SLICE_X22Y14;
INST "DSP/COR/CXB4/BSDP/DMUX/MUXF7<14>" LOC=SLICE_X22Y15;
INST "DSP/COR/CXB4/BSDP/DMUX/MUXF7<15>" LOC=SLICE_X22Y15;
INST "DSP/COR/CXB4/BSDP/DMUX/MUXF7<16>" LOC=SLICE_X22Y16;
INST "DSP/COR/CXB4/BSDP/DMUX/MUXF7<17>" LOC=SLICE_X22Y16;
INST "DSP/COR/CXB4/BSDP/DMUX/MUXF7<18>" LOC=SLICE_X22Y17;
INST "DSP/COR/CXB4/BSDP/DMUX/MUXF7<19>" LOC=SLICE_X22Y17;
INST "DSP/COR/CXB4/BSDP/DMUX/MUXF7<20>" LOC=SLICE_X22Y18;
INST "DSP/COR/CXB4/BSDP/DMUX/MUXF7<21>" LOC=SLICE_X22Y18;
INST "DSP/COR/CXB4/BSDP/DMUX/MUXF7<22>" LOC=SLICE_X22Y19;
INST "DSP/COR/CXB4/BSDP/DMUX/MUXF7<23>" LOC=SLICE_X22Y19;

INST "DSP/COR/CXB5/BSDP/VISRAM<0>/SRAM0" LOC=RAMB8_X1Y16;
INST "DSP/COR/CXB5/BSDP/VISRAM<1>/SRAM0" LOC=RAMB8_X1Y17;
INST "DSP/COR/CXB5/BSDP/VISRAM<2>/SRAM0" LOC=RAMB8_X1Y18;
INST "DSP/COR/CXB5/BSDP/VISRAM<3>/SRAM0" LOC=RAMB8_X1Y19;
INST "DSP/COR/CXB5/BSDP/VISRAM<4>/SRAM0" LOC=RAMB8_X1Y20;
INST "DSP/COR/CXB5/BSDP/VISRAM<5>/SRAM0" LOC=RAMB8_X1Y21;

INST "DSP/COR/CXB5/BSDP/DMUX/MUXF7<0>" LOC=SLICE_X22Y32;
INST "DSP/COR/CXB5/BSDP/DMUX/MUXF7<1>" LOC=SLICE_X22Y32;
INST "DSP/COR/CXB5/BSDP/DMUX/MUXF7<2>" LOC=SLICE_X22Y33;
INST "DSP/COR/CXB5/BSDP/DMUX/MUXF7<3>" LOC=SLICE_X22Y33;
INST "DSP/COR/CXB5/BSDP/DMUX/MUXF7<4>" LOC=SLICE_X22Y34;
INST "DSP/COR/CXB5/BSDP/DMUX/MUXF7<5>" LOC=SLICE_X22Y34;
INST "DSP/COR/CXB5/BSDP/DMUX/MUXF7<6>" LOC=SLICE_X22Y35;
INST "DSP/COR/CXB5/BSDP/DMUX/MUXF7<7>" LOC=SLICE_X22Y35;
INST "DSP/COR/CXB5/BSDP/DMUX/MUXF7<8>" LOC=SLICE_X22Y36;
INST "DSP/COR/CXB5/BSDP/DMUX/MUXF7<9>" LOC=SLICE_X22Y36;
INST "DSP/COR/CXB5/BSDP/DMUX/MUXF7<10>" LOC=SLICE_X22Y37;
INST "DSP/COR/CXB5/BSDP/DMUX/MUXF7<11>" LOC=SLICE_X22Y37;
INST "DSP/COR/CXB5/BSDP/DMUX/MUXF7<12>" LOC=SLICE_X22Y38;
INST "DSP/COR/CXB5/BSDP/DMUX/MUXF7<13>" LOC=SLICE_X22Y38;
INST "DSP/COR/CXB5/BSDP/DMUX/MUXF7<14>" LOC=SLICE_X22Y39;
INST "DSP/COR/CXB5/BSDP/DMUX/MUXF7<15>" LOC=SLICE_X22Y39;
INST "DSP/COR/CXB5/BSDP/DMUX/MUXF7<16>" LOC=SLICE_X22Y40;
INST "DSP/COR/CXB5/BSDP/DMUX/MUXF7<17>" LOC=SLICE_X22Y40;
INST "DSP/COR/CXB5/BSDP/DMUX/MUXF7<18>" LOC=SLICE_X22Y41;
INST "DSP/COR/CXB5/BSDP/DMUX/MUXF7<19>" LOC=SLICE_X22Y41;
INST "DSP/COR/CXB5/BSDP/DMUX/MUXF7<20>" LOC=SLICE_X22Y42;
INST "DSP/COR/CXB5/BSDP/DMUX/MUXF7<21>" LOC=SLICE_X22Y42;
INST "DSP/COR/CXB5/BSDP/DMUX/MUXF7<22>" LOC=SLICE_X22Y43;
INST "DSP/COR/CXB5/BSDP/DMUX/MUXF7<23>" LOC=SLICE_X22Y43;


# Instance `AREA_GROUP's:
INST "DSP/COR/CXB0" AREA_GROUP="cblk0";
INST "DSP/COR/CXB1" AREA_GROUP="cblk1";
INST "DSP/COR/CXB2" AREA_GROUP="cblk2";
INST "DSP/COR/CXB3" AREA_GROUP="cblk3";
INST "DSP/COR/CXB4" AREA_GROUP="cblk4";
INST "DSP/COR/CXB5" AREA_GROUP="cblk5";

AREA_GROUP "cblk0" RANGE=SLICE_X0Y2:SLICE_X11Y15;
AREA_GROUP "cblk1" RANGE=SLICE_X0Y16:SLICE_X11Y31;
AREA_GROUP "cblk2" RANGE=SLICE_X0Y32:SLICE_X11Y47;
AREA_GROUP "cblk3" RANGE=SLICE_X0Y48:SLICE_X11Y61;
AREA_GROUP "cblk4" RANGE=SLICE_X12Y2:SLICE_X23Y25;
AREA_GROUP "cblk5" RANGE=SLICE_X12Y26:SLICE_X23Y49;
