# DSP48-based correlator layout:
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR0/CORR_COS_SIN0/DSP_COS_SIN0" LOC=DSP48_X0Y0;
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR1/CORR_COS_SIN0/DSP_COS_SIN0" LOC=DSP48_X0Y1;
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR2/CORR_COS_SIN0/DSP_COS_SIN0" LOC=DSP48_X0Y2;
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR3/CORR_COS_SIN0/DSP_COS_SIN0" LOC=DSP48_X0Y3;

INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR0/RAM32X6_SDP_COS<0>/RAM32M0" LOC=SLICE_X0Y2;
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR0/RAM32X6_SDP_COS<1>/RAM32M0" LOC=SLICE_X0Y3;
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR0/RAM32X6_SDP_COS<2>/RAM32M0" LOC=SLICE_X4Y2;
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR0/RAM32X6_SDP_COS<3>/RAM32M0" LOC=SLICE_X4Y3;

INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR0/RAM32X6_SDP_SIN<0>/RAM32M0" LOC=SLICE_X12Y2;
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR0/RAM32X6_SDP_SIN<1>/RAM32M0" LOC=SLICE_X12Y3;
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR0/RAM32X6_SDP_SIN<2>/RAM32M0" LOC=SLICE_X8Y2;
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR0/RAM32X6_SDP_SIN<3>/RAM32M0" LOC=SLICE_X8Y3;

INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR1/RAM32X6_SDP_COS<0>/RAM32M0" LOC=SLICE_X4Y4;
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR1/RAM32X6_SDP_COS<1>/RAM32M0" LOC=SLICE_X4Y5;
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR1/RAM32X6_SDP_COS<2>/RAM32M0" LOC=SLICE_X4Y6;
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR1/RAM32X6_SDP_COS<3>/RAM32M0" LOC=SLICE_X4Y7;

INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR1/RAM32X6_SDP_SIN<0>/RAM32M0" LOC=SLICE_X8Y4;
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR1/RAM32X6_SDP_SIN<1>/RAM32M0" LOC=SLICE_X8Y5;
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR1/RAM32X6_SDP_SIN<2>/RAM32M0" LOC=SLICE_X8Y6;
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR1/RAM32X6_SDP_SIN<3>/RAM32M0" LOC=SLICE_X8Y7;

INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR2/RAM32X6_SDP_COS<0>/RAM32M0" LOC=SLICE_X4Y8;
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR2/RAM32X6_SDP_COS<1>/RAM32M0" LOC=SLICE_X4Y9;
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR2/RAM32X6_SDP_COS<2>/RAM32M0" LOC=SLICE_X4Y10;
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR2/RAM32X6_SDP_COS<3>/RAM32M0" LOC=SLICE_X4Y11;

INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR2/RAM32X6_SDP_SIN<0>/RAM32M0" LOC=SLICE_X8Y8;
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR2/RAM32X6_SDP_SIN<1>/RAM32M0" LOC=SLICE_X8Y9;
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR2/RAM32X6_SDP_SIN<2>/RAM32M0" LOC=SLICE_X8Y10;
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR2/RAM32X6_SDP_SIN<3>/RAM32M0" LOC=SLICE_X8Y11;

INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR3/RAM32X6_SDP_COS<0>/RAM32M0" LOC=SLICE_X4Y12;
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR3/RAM32X6_SDP_COS<1>/RAM32M0" LOC=SLICE_X4Y13;
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR3/RAM32X6_SDP_COS<2>/RAM32M0" LOC=SLICE_X4Y14;
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR3/RAM32X6_SDP_COS<3>/RAM32M0" LOC=SLICE_X4Y15;

INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR3/RAM32X6_SDP_SIN<0>/RAM32M0" LOC=SLICE_X8Y12;
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR3/RAM32X6_SDP_SIN<1>/RAM32M0" LOC=SLICE_X8Y13;
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR3/RAM32X6_SDP_SIN<2>/RAM32M0" LOC=SLICE_X8Y14;
INST "DSP/CORRELATOR/CXBLOCK0/CORRELATOR3/RAM32X6_SDP_SIN<3>/RAM32M0" LOC=SLICE_X8Y15;

INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR0/CORR_COS_SIN0/DSP_COS_SIN0" LOC=DSP48_X0Y4;
INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR1/CORR_COS_SIN0/DSP_COS_SIN0" LOC=DSP48_X0Y5;
INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR2/CORR_COS_SIN0/DSP_COS_SIN0" LOC=DSP48_X0Y6;
INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR3/CORR_COS_SIN0/DSP_COS_SIN0" LOC=DSP48_X0Y7;

INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR0/RAM32X6_SDP_COS<0>/RAM32M0" LOC=SLICE_X4Y16;
INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR0/RAM32X6_SDP_COS<1>/RAM32M0" LOC=SLICE_X4Y17;
INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR0/RAM32X6_SDP_COS<2>/RAM32M0" LOC=SLICE_X4Y18;
INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR0/RAM32X6_SDP_COS<3>/RAM32M0" LOC=SLICE_X4Y19;

INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR0/RAM32X6_SDP_SIN<0>/RAM32M0" LOC=SLICE_X8Y16;
INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR0/RAM32X6_SDP_SIN<1>/RAM32M0" LOC=SLICE_X8Y17;
INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR0/RAM32X6_SDP_SIN<2>/RAM32M0" LOC=SLICE_X8Y18;
INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR0/RAM32X6_SDP_SIN<3>/RAM32M0" LOC=SLICE_X8Y19;

INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR1/RAM32X6_SDP_COS<0>/RAM32M0" LOC=SLICE_X4Y20;
INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR1/RAM32X6_SDP_COS<1>/RAM32M0" LOC=SLICE_X4Y21;
INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR1/RAM32X6_SDP_COS<2>/RAM32M0" LOC=SLICE_X4Y22;
INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR1/RAM32X6_SDP_COS<3>/RAM32M0" LOC=SLICE_X4Y23;

INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR1/RAM32X6_SDP_SIN<0>/RAM32M0" LOC=SLICE_X8Y20;
INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR1/RAM32X6_SDP_SIN<1>/RAM32M0" LOC=SLICE_X8Y21;
INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR1/RAM32X6_SDP_SIN<2>/RAM32M0" LOC=SLICE_X8Y22;
INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR1/RAM32X6_SDP_SIN<3>/RAM32M0" LOC=SLICE_X8Y23;

INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR2/RAM32X6_SDP_COS<0>/RAM32M0" LOC=SLICE_X4Y24;
INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR2/RAM32X6_SDP_COS<1>/RAM32M0" LOC=SLICE_X4Y25;
INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR2/RAM32X6_SDP_COS<2>/RAM32M0" LOC=SLICE_X4Y26;
INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR2/RAM32X6_SDP_COS<3>/RAM32M0" LOC=SLICE_X4Y27;

INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR2/RAM32X6_SDP_SIN<0>/RAM32M0" LOC=SLICE_X8Y24;
INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR2/RAM32X6_SDP_SIN<1>/RAM32M0" LOC=SLICE_X8Y25;
INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR2/RAM32X6_SDP_SIN<2>/RAM32M0" LOC=SLICE_X8Y26;
INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR2/RAM32X6_SDP_SIN<3>/RAM32M0" LOC=SLICE_X8Y27;

INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR3/RAM32X6_SDP_COS<0>/RAM32M0" LOC=SLICE_X4Y28;
INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR3/RAM32X6_SDP_COS<1>/RAM32M0" LOC=SLICE_X4Y29;
INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR3/RAM32X6_SDP_COS<2>/RAM32M0" LOC=SLICE_X4Y30;
INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR3/RAM32X6_SDP_COS<3>/RAM32M0" LOC=SLICE_X4Y31;

INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR3/RAM32X6_SDP_SIN<0>/RAM32M0" LOC=SLICE_X8Y28;
INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR3/RAM32X6_SDP_SIN<1>/RAM32M0" LOC=SLICE_X8Y29;
INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR3/RAM32X6_SDP_SIN<2>/RAM32M0" LOC=SLICE_X8Y30;
INST "DSP/CORRELATOR/CXBLOCK1/CORRELATOR3/RAM32X6_SDP_SIN<3>/RAM32M0" LOC=SLICE_X8Y31;

INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR0/CORR_COS_SIN0/DSP_COS_SIN0" LOC=DSP48_X0Y8;
INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR1/CORR_COS_SIN0/DSP_COS_SIN0" LOC=DSP48_X0Y9;
INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR2/CORR_COS_SIN0/DSP_COS_SIN0" LOC=DSP48_X0Y10;
INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR3/CORR_COS_SIN0/DSP_COS_SIN0" LOC=DSP48_X0Y11;

INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR0/RAM32X6_SDP_COS<0>/RAM32M0" LOC=SLICE_X4Y32;
INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR0/RAM32X6_SDP_COS<1>/RAM32M0" LOC=SLICE_X4Y33;
INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR0/RAM32X6_SDP_COS<2>/RAM32M0" LOC=SLICE_X4Y34;
INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR0/RAM32X6_SDP_COS<3>/RAM32M0" LOC=SLICE_X4Y35;

INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR0/RAM32X6_SDP_SIN<0>/RAM32M0" LOC=SLICE_X8Y32;
INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR0/RAM32X6_SDP_SIN<1>/RAM32M0" LOC=SLICE_X8Y33;
INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR0/RAM32X6_SDP_SIN<2>/RAM32M0" LOC=SLICE_X8Y34;
INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR0/RAM32X6_SDP_SIN<3>/RAM32M0" LOC=SLICE_X8Y35;

INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR1/RAM32X6_SDP_COS<0>/RAM32M0" LOC=SLICE_X4Y36;
INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR1/RAM32X6_SDP_COS<1>/RAM32M0" LOC=SLICE_X4Y37;
INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR1/RAM32X6_SDP_COS<2>/RAM32M0" LOC=SLICE_X4Y38;
INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR1/RAM32X6_SDP_COS<3>/RAM32M0" LOC=SLICE_X4Y39;

INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR1/RAM32X6_SDP_SIN<0>/RAM32M0" LOC=SLICE_X8Y36;
INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR1/RAM32X6_SDP_SIN<1>/RAM32M0" LOC=SLICE_X8Y37;
INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR1/RAM32X6_SDP_SIN<2>/RAM32M0" LOC=SLICE_X8Y38;
INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR1/RAM32X6_SDP_SIN<3>/RAM32M0" LOC=SLICE_X8Y39;

INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR2/RAM32X6_SDP_COS<0>/RAM32M0" LOC=SLICE_X4Y40;
INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR2/RAM32X6_SDP_COS<1>/RAM32M0" LOC=SLICE_X4Y41;
INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR2/RAM32X6_SDP_COS<2>/RAM32M0" LOC=SLICE_X4Y42;
INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR2/RAM32X6_SDP_COS<3>/RAM32M0" LOC=SLICE_X4Y43;

INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR2/RAM32X6_SDP_SIN<0>/RAM32M0" LOC=SLICE_X8Y40;
INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR2/RAM32X6_SDP_SIN<1>/RAM32M0" LOC=SLICE_X8Y41;
INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR2/RAM32X6_SDP_SIN<2>/RAM32M0" LOC=SLICE_X8Y42;
INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR2/RAM32X6_SDP_SIN<3>/RAM32M0" LOC=SLICE_X8Y43;

INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR3/RAM32X6_SDP_COS<0>/RAM32M0" LOC=SLICE_X4Y44;
INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR3/RAM32X6_SDP_COS<1>/RAM32M0" LOC=SLICE_X4Y45;
INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR3/RAM32X6_SDP_COS<2>/RAM32M0" LOC=SLICE_X4Y46;
INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR3/RAM32X6_SDP_COS<3>/RAM32M0" LOC=SLICE_X4Y47;

INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR3/RAM32X6_SDP_SIN<0>/RAM32M0" LOC=SLICE_X8Y44;
INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR3/RAM32X6_SDP_SIN<1>/RAM32M0" LOC=SLICE_X8Y45;
INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR3/RAM32X6_SDP_SIN<2>/RAM32M0" LOC=SLICE_X8Y46;
INST "DSP/CORRELATOR/CXBLOCK2/CORRELATOR3/RAM32X6_SDP_SIN<3>/RAM32M0" LOC=SLICE_X8Y47;

INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR0/CORR_COS_SIN0/DSP_COS_SIN0" LOC=DSP48_X0Y12;
INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR1/CORR_COS_SIN0/DSP_COS_SIN0" LOC=DSP48_X0Y13;
INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR2/CORR_COS_SIN0/DSP_COS_SIN0" LOC=DSP48_X0Y14;
INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR3/CORR_COS_SIN0/DSP_COS_SIN0" LOC=DSP48_X0Y15;

INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR0/RAM32X6_SDP_COS<0>/RAM32M0" LOC=SLICE_X4Y48;
INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR0/RAM32X6_SDP_COS<1>/RAM32M0" LOC=SLICE_X4Y49;
INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR0/RAM32X6_SDP_COS<2>/RAM32M0" LOC=SLICE_X4Y50;
INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR0/RAM32X6_SDP_COS<3>/RAM32M0" LOC=SLICE_X4Y51;

INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR0/RAM32X6_SDP_SIN<0>/RAM32M0" LOC=SLICE_X8Y48;
INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR0/RAM32X6_SDP_SIN<1>/RAM32M0" LOC=SLICE_X8Y49;
INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR0/RAM32X6_SDP_SIN<2>/RAM32M0" LOC=SLICE_X8Y50;
INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR0/RAM32X6_SDP_SIN<3>/RAM32M0" LOC=SLICE_X8Y51;

INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR1/RAM32X6_SDP_COS<0>/RAM32M0" LOC=SLICE_X4Y52;
INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR1/RAM32X6_SDP_COS<1>/RAM32M0" LOC=SLICE_X4Y53;
INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR1/RAM32X6_SDP_COS<2>/RAM32M0" LOC=SLICE_X4Y54;
INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR1/RAM32X6_SDP_COS<3>/RAM32M0" LOC=SLICE_X4Y55;

INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR1/RAM32X6_SDP_SIN<0>/RAM32M0" LOC=SLICE_X8Y52;
INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR1/RAM32X6_SDP_SIN<1>/RAM32M0" LOC=SLICE_X8Y53;
INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR1/RAM32X6_SDP_SIN<2>/RAM32M0" LOC=SLICE_X8Y54;
INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR1/RAM32X6_SDP_SIN<3>/RAM32M0" LOC=SLICE_X8Y55;

INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR2/RAM32X6_SDP_COS<0>/RAM32M0" LOC=SLICE_X4Y56;
INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR2/RAM32X6_SDP_COS<1>/RAM32M0" LOC=SLICE_X4Y57;
INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR2/RAM32X6_SDP_COS<2>/RAM32M0" LOC=SLICE_X4Y58;
INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR2/RAM32X6_SDP_COS<3>/RAM32M0" LOC=SLICE_X4Y59;

INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR2/RAM32X6_SDP_SIN<0>/RAM32M0" LOC=SLICE_X8Y56;
INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR2/RAM32X6_SDP_SIN<1>/RAM32M0" LOC=SLICE_X8Y57;
INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR2/RAM32X6_SDP_SIN<2>/RAM32M0" LOC=SLICE_X8Y58;
INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR2/RAM32X6_SDP_SIN<3>/RAM32M0" LOC=SLICE_X8Y59;

INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR3/RAM32X6_SDP_COS<0>/RAM32M0" LOC=SLICE_X4Y60;
INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR3/RAM32X6_SDP_COS<1>/RAM32M0" LOC=SLICE_X4Y61;
INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR3/RAM32X6_SDP_COS<2>/RAM32M0" LOC=SLICE_X0Y60;
INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR3/RAM32X6_SDP_COS<3>/RAM32M0" LOC=SLICE_X0Y61;

INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR3/RAM32X6_SDP_SIN<0>/RAM32M0" LOC=SLICE_X8Y60;
INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR3/RAM32X6_SDP_SIN<1>/RAM32M0" LOC=SLICE_X8Y61;
INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR3/RAM32X6_SDP_SIN<2>/RAM32M0" LOC=SLICE_X12Y60;
INST "DSP/CORRELATOR/CXBLOCK3/CORRELATOR3/RAM32X6_SDP_SIN<3>/RAM32M0" LOC=SLICE_X12Y61;

# RAM Placement:
INST "DSP/CORRELATOR/CXBLOCK0/VISRAM<0>/SRAM0" LOC=RAMB8_X0Y0;
INST "DSP/CORRELATOR/CXBLOCK0/VISRAM<1>/SRAM0" LOC=RAMB8_X0Y1;
INST "DSP/CORRELATOR/CXBLOCK0/VISRAM<2>/SRAM0" LOC=RAMB8_X0Y2;
INST "DSP/CORRELATOR/CXBLOCK0/VISRAM<3>/SRAM0" LOC=RAMB8_X0Y3;
INST "DSP/CORRELATOR/CXBLOCK0/VISRAM<4>/SRAM0" LOC=RAMB8_X0Y4;
INST "DSP/CORRELATOR/CXBLOCK0/VISRAM<5>/SRAM0" LOC=RAMB8_X0Y5;

INST "DSP/CORRELATOR/CXBLOCK1/VISRAM<0>/SRAM0" LOC=RAMB8_X0Y8;
INST "DSP/CORRELATOR/CXBLOCK1/VISRAM<1>/SRAM0" LOC=RAMB8_X0Y9;
INST "DSP/CORRELATOR/CXBLOCK1/VISRAM<2>/SRAM0" LOC=RAMB8_X0Y10;
INST "DSP/CORRELATOR/CXBLOCK1/VISRAM<3>/SRAM0" LOC=RAMB8_X0Y11;
INST "DSP/CORRELATOR/CXBLOCK1/VISRAM<4>/SRAM0" LOC=RAMB8_X0Y12;
INST "DSP/CORRELATOR/CXBLOCK1/VISRAM<5>/SRAM0" LOC=RAMB8_X0Y13;

INST "DSP/CORRELATOR/CXBLOCK2/VISRAM<0>/SRAM0" LOC=RAMB8_X0Y16;
INST "DSP/CORRELATOR/CXBLOCK2/VISRAM<1>/SRAM0" LOC=RAMB8_X0Y17;
INST "DSP/CORRELATOR/CXBLOCK2/VISRAM<2>/SRAM0" LOC=RAMB8_X0Y18;
INST "DSP/CORRELATOR/CXBLOCK2/VISRAM<3>/SRAM0" LOC=RAMB8_X0Y19;
INST "DSP/CORRELATOR/CXBLOCK2/VISRAM<4>/SRAM0" LOC=RAMB8_X0Y20;
INST "DSP/CORRELATOR/CXBLOCK2/VISRAM<5>/SRAM0" LOC=RAMB8_X0Y21;

INST "DSP/CORRELATOR/CXBLOCK3/VISRAM<0>/SRAM0" LOC=RAMB8_X0Y24;
INST "DSP/CORRELATOR/CXBLOCK3/VISRAM<1>/SRAM0" LOC=RAMB8_X0Y25;
INST "DSP/CORRELATOR/CXBLOCK3/VISRAM<2>/SRAM0" LOC=RAMB8_X0Y26;
INST "DSP/CORRELATOR/CXBLOCK3/VISRAM<3>/SRAM0" LOC=RAMB8_X0Y27;
INST "DSP/CORRELATOR/CXBLOCK3/VISRAM<4>/SRAM0" LOC=RAMB8_X0Y28;
INST "DSP/CORRELATOR/CXBLOCK3/VISRAM<5>/SRAM0" LOC=RAMB8_X0Y29;

INST "DSP/CORRELATOR/CXBLOCK0/MUXDAT0/MUXF7<0>" LOC=SLICE_X6Y2;
INST "DSP/CORRELATOR/CXBLOCK0/MUXDAT0/MUXF7<1>" LOC=SLICE_X6Y2;
INST "DSP/CORRELATOR/CXBLOCK0/MUXDAT0/MUXF7<2>" LOC=SLICE_X6Y3;
INST "DSP/CORRELATOR/CXBLOCK0/MUXDAT0/MUXF7<3>" LOC=SLICE_X6Y3;
INST "DSP/CORRELATOR/CXBLOCK0/MUXDAT0/MUXF7<4>" LOC=SLICE_X6Y4;
INST "DSP/CORRELATOR/CXBLOCK0/MUXDAT0/MUXF7<5>" LOC=SLICE_X6Y4;
INST "DSP/CORRELATOR/CXBLOCK0/MUXDAT0/MUXF7<6>" LOC=SLICE_X6Y5;
INST "DSP/CORRELATOR/CXBLOCK0/MUXDAT0/MUXF7<7>" LOC=SLICE_X6Y5;
INST "DSP/CORRELATOR/CXBLOCK0/MUXDAT0/MUXF7<8>" LOC=SLICE_X6Y6;
INST "DSP/CORRELATOR/CXBLOCK0/MUXDAT0/MUXF7<9>" LOC=SLICE_X6Y6;
INST "DSP/CORRELATOR/CXBLOCK0/MUXDAT0/MUXF7<10>" LOC=SLICE_X6Y7;
INST "DSP/CORRELATOR/CXBLOCK0/MUXDAT0/MUXF7<11>" LOC=SLICE_X6Y7;
INST "DSP/CORRELATOR/CXBLOCK0/MUXDAT0/MUXF7<12>" LOC=SLICE_X6Y8;
INST "DSP/CORRELATOR/CXBLOCK0/MUXDAT0/MUXF7<13>" LOC=SLICE_X6Y8;
INST "DSP/CORRELATOR/CXBLOCK0/MUXDAT0/MUXF7<14>" LOC=SLICE_X6Y9;
INST "DSP/CORRELATOR/CXBLOCK0/MUXDAT0/MUXF7<15>" LOC=SLICE_X6Y9;
INST "DSP/CORRELATOR/CXBLOCK0/MUXDAT0/MUXF7<16>" LOC=SLICE_X6Y10;
INST "DSP/CORRELATOR/CXBLOCK0/MUXDAT0/MUXF7<17>" LOC=SLICE_X6Y10;
INST "DSP/CORRELATOR/CXBLOCK0/MUXDAT0/MUXF7<18>" LOC=SLICE_X6Y11;
INST "DSP/CORRELATOR/CXBLOCK0/MUXDAT0/MUXF7<19>" LOC=SLICE_X6Y11;
INST "DSP/CORRELATOR/CXBLOCK0/MUXDAT0/MUXF7<20>" LOC=SLICE_X6Y12;
INST "DSP/CORRELATOR/CXBLOCK0/MUXDAT0/MUXF7<21>" LOC=SLICE_X6Y12;
INST "DSP/CORRELATOR/CXBLOCK0/MUXDAT0/MUXF7<22>" LOC=SLICE_X6Y13;
INST "DSP/CORRELATOR/CXBLOCK0/MUXDAT0/MUXF7<23>" LOC=SLICE_X6Y13;

INST "DSP/CORRELATOR/CXBLOCK1/MUXDAT0/MUXF7<0>" LOC=SLICE_X6Y18;
INST "DSP/CORRELATOR/CXBLOCK1/MUXDAT0/MUXF7<1>" LOC=SLICE_X6Y18;
INST "DSP/CORRELATOR/CXBLOCK1/MUXDAT0/MUXF7<2>" LOC=SLICE_X6Y19;
INST "DSP/CORRELATOR/CXBLOCK1/MUXDAT0/MUXF7<3>" LOC=SLICE_X6Y19;
INST "DSP/CORRELATOR/CXBLOCK1/MUXDAT0/MUXF7<4>" LOC=SLICE_X6Y20;
INST "DSP/CORRELATOR/CXBLOCK1/MUXDAT0/MUXF7<5>" LOC=SLICE_X6Y20;
INST "DSP/CORRELATOR/CXBLOCK1/MUXDAT0/MUXF7<6>" LOC=SLICE_X6Y21;
INST "DSP/CORRELATOR/CXBLOCK1/MUXDAT0/MUXF7<7>" LOC=SLICE_X6Y21;
INST "DSP/CORRELATOR/CXBLOCK1/MUXDAT0/MUXF7<8>" LOC=SLICE_X6Y22;
INST "DSP/CORRELATOR/CXBLOCK1/MUXDAT0/MUXF7<9>" LOC=SLICE_X6Y22;
INST "DSP/CORRELATOR/CXBLOCK1/MUXDAT0/MUXF7<10>" LOC=SLICE_X6Y23;
INST "DSP/CORRELATOR/CXBLOCK1/MUXDAT0/MUXF7<11>" LOC=SLICE_X6Y23;
INST "DSP/CORRELATOR/CXBLOCK1/MUXDAT0/MUXF7<12>" LOC=SLICE_X6Y24;
INST "DSP/CORRELATOR/CXBLOCK1/MUXDAT0/MUXF7<13>" LOC=SLICE_X6Y24;
INST "DSP/CORRELATOR/CXBLOCK1/MUXDAT0/MUXF7<14>" LOC=SLICE_X6Y25;
INST "DSP/CORRELATOR/CXBLOCK1/MUXDAT0/MUXF7<15>" LOC=SLICE_X6Y25;
INST "DSP/CORRELATOR/CXBLOCK1/MUXDAT0/MUXF7<16>" LOC=SLICE_X6Y26;
INST "DSP/CORRELATOR/CXBLOCK1/MUXDAT0/MUXF7<17>" LOC=SLICE_X6Y26;
INST "DSP/CORRELATOR/CXBLOCK1/MUXDAT0/MUXF7<18>" LOC=SLICE_X6Y27;
INST "DSP/CORRELATOR/CXBLOCK1/MUXDAT0/MUXF7<19>" LOC=SLICE_X6Y27;
INST "DSP/CORRELATOR/CXBLOCK1/MUXDAT0/MUXF7<20>" LOC=SLICE_X6Y28;
INST "DSP/CORRELATOR/CXBLOCK1/MUXDAT0/MUXF7<21>" LOC=SLICE_X6Y28;
INST "DSP/CORRELATOR/CXBLOCK1/MUXDAT0/MUXF7<22>" LOC=SLICE_X6Y29;
INST "DSP/CORRELATOR/CXBLOCK1/MUXDAT0/MUXF7<23>" LOC=SLICE_X6Y29;

INST "DSP/CORRELATOR/CXBLOCK2/MUXDAT0/MUXF7<0>" LOC=SLICE_X6Y34;
INST "DSP/CORRELATOR/CXBLOCK2/MUXDAT0/MUXF7<1>" LOC=SLICE_X6Y34;
INST "DSP/CORRELATOR/CXBLOCK2/MUXDAT0/MUXF7<2>" LOC=SLICE_X6Y35;
INST "DSP/CORRELATOR/CXBLOCK2/MUXDAT0/MUXF7<3>" LOC=SLICE_X6Y35;
INST "DSP/CORRELATOR/CXBLOCK2/MUXDAT0/MUXF7<4>" LOC=SLICE_X6Y36;
INST "DSP/CORRELATOR/CXBLOCK2/MUXDAT0/MUXF7<5>" LOC=SLICE_X6Y36;
INST "DSP/CORRELATOR/CXBLOCK2/MUXDAT0/MUXF7<6>" LOC=SLICE_X6Y37;
INST "DSP/CORRELATOR/CXBLOCK2/MUXDAT0/MUXF7<7>" LOC=SLICE_X6Y37;
INST "DSP/CORRELATOR/CXBLOCK2/MUXDAT0/MUXF7<8>" LOC=SLICE_X6Y38;
INST "DSP/CORRELATOR/CXBLOCK2/MUXDAT0/MUXF7<9>" LOC=SLICE_X6Y38;
INST "DSP/CORRELATOR/CXBLOCK2/MUXDAT0/MUXF7<10>" LOC=SLICE_X6Y39;
INST "DSP/CORRELATOR/CXBLOCK2/MUXDAT0/MUXF7<11>" LOC=SLICE_X6Y39;
INST "DSP/CORRELATOR/CXBLOCK2/MUXDAT0/MUXF7<12>" LOC=SLICE_X6Y40;
INST "DSP/CORRELATOR/CXBLOCK2/MUXDAT0/MUXF7<13>" LOC=SLICE_X6Y40;
INST "DSP/CORRELATOR/CXBLOCK2/MUXDAT0/MUXF7<14>" LOC=SLICE_X6Y41;
INST "DSP/CORRELATOR/CXBLOCK2/MUXDAT0/MUXF7<15>" LOC=SLICE_X6Y41;
INST "DSP/CORRELATOR/CXBLOCK2/MUXDAT0/MUXF7<16>" LOC=SLICE_X6Y42;
INST "DSP/CORRELATOR/CXBLOCK2/MUXDAT0/MUXF7<17>" LOC=SLICE_X6Y42;
INST "DSP/CORRELATOR/CXBLOCK2/MUXDAT0/MUXF7<18>" LOC=SLICE_X6Y43;
INST "DSP/CORRELATOR/CXBLOCK2/MUXDAT0/MUXF7<19>" LOC=SLICE_X6Y43;
INST "DSP/CORRELATOR/CXBLOCK2/MUXDAT0/MUXF7<20>" LOC=SLICE_X6Y44;
INST "DSP/CORRELATOR/CXBLOCK2/MUXDAT0/MUXF7<21>" LOC=SLICE_X6Y44;
INST "DSP/CORRELATOR/CXBLOCK2/MUXDAT0/MUXF7<22>" LOC=SLICE_X6Y45;
INST "DSP/CORRELATOR/CXBLOCK2/MUXDAT0/MUXF7<23>" LOC=SLICE_X6Y45;

INST "DSP/CORRELATOR/CXBLOCK3/MUXDAT0/MUXF7<0>" LOC=SLICE_X6Y50;
INST "DSP/CORRELATOR/CXBLOCK3/MUXDAT0/MUXF7<1>" LOC=SLICE_X6Y50;
INST "DSP/CORRELATOR/CXBLOCK3/MUXDAT0/MUXF7<2>" LOC=SLICE_X6Y51;
INST "DSP/CORRELATOR/CXBLOCK3/MUXDAT0/MUXF7<3>" LOC=SLICE_X6Y51;
INST "DSP/CORRELATOR/CXBLOCK3/MUXDAT0/MUXF7<4>" LOC=SLICE_X6Y52;
INST "DSP/CORRELATOR/CXBLOCK3/MUXDAT0/MUXF7<5>" LOC=SLICE_X6Y52;
INST "DSP/CORRELATOR/CXBLOCK3/MUXDAT0/MUXF7<6>" LOC=SLICE_X6Y53;
INST "DSP/CORRELATOR/CXBLOCK3/MUXDAT0/MUXF7<7>" LOC=SLICE_X6Y53;
INST "DSP/CORRELATOR/CXBLOCK3/MUXDAT0/MUXF7<8>" LOC=SLICE_X6Y54;
INST "DSP/CORRELATOR/CXBLOCK3/MUXDAT0/MUXF7<9>" LOC=SLICE_X6Y54;
INST "DSP/CORRELATOR/CXBLOCK3/MUXDAT0/MUXF7<10>" LOC=SLICE_X6Y55;
INST "DSP/CORRELATOR/CXBLOCK3/MUXDAT0/MUXF7<11>" LOC=SLICE_X6Y55;
INST "DSP/CORRELATOR/CXBLOCK3/MUXDAT0/MUXF7<12>" LOC=SLICE_X6Y56;
INST "DSP/CORRELATOR/CXBLOCK3/MUXDAT0/MUXF7<13>" LOC=SLICE_X6Y56;
INST "DSP/CORRELATOR/CXBLOCK3/MUXDAT0/MUXF7<14>" LOC=SLICE_X6Y57;
INST "DSP/CORRELATOR/CXBLOCK3/MUXDAT0/MUXF7<15>" LOC=SLICE_X6Y57;
INST "DSP/CORRELATOR/CXBLOCK3/MUXDAT0/MUXF7<16>" LOC=SLICE_X6Y58;
INST "DSP/CORRELATOR/CXBLOCK3/MUXDAT0/MUXF7<17>" LOC=SLICE_X6Y58;
INST "DSP/CORRELATOR/CXBLOCK3/MUXDAT0/MUXF7<18>" LOC=SLICE_X6Y59;
INST "DSP/CORRELATOR/CXBLOCK3/MUXDAT0/MUXF7<19>" LOC=SLICE_X6Y59;
INST "DSP/CORRELATOR/CXBLOCK3/MUXDAT0/MUXF7<20>" LOC=SLICE_X6Y60;
INST "DSP/CORRELATOR/CXBLOCK3/MUXDAT0/MUXF7<21>" LOC=SLICE_X6Y60;
INST "DSP/CORRELATOR/CXBLOCK3/MUXDAT0/MUXF7<22>" LOC=SLICE_X6Y61;
INST "DSP/CORRELATOR/CXBLOCK3/MUXDAT0/MUXF7<23>" LOC=SLICE_X6Y61;

# Standard adder-based correlator layout:
INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR0/RAM32X6_SDP_COS<0>/RAM32M0" LOC=SLICE_X16Y2;
INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR0/RAM32X6_SDP_COS<1>/RAM32M0" LOC=SLICE_X16Y3;
INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR0/RAM32X6_SDP_COS<2>/RAM32M0" LOC=SLICE_X16Y4;
INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR0/RAM32X6_SDP_COS<3>/RAM32M0" LOC=SLICE_X16Y5;

INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR0/RAM32X6_SDP_SIN<0>/RAM32M0" LOC=SLICE_X20Y2;
INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR0/RAM32X6_SDP_SIN<1>/RAM32M0" LOC=SLICE_X20Y3;
INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR0/RAM32X6_SDP_SIN<2>/RAM32M0" LOC=SLICE_X20Y4;
INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR0/RAM32X6_SDP_SIN<3>/RAM32M0" LOC=SLICE_X20Y5;

INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR1/RAM32X6_SDP_COS<0>/RAM32M0" LOC=SLICE_X16Y6;
INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR1/RAM32X6_SDP_COS<1>/RAM32M0" LOC=SLICE_X16Y7;
INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR1/RAM32X6_SDP_COS<2>/RAM32M0" LOC=SLICE_X16Y8;
INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR1/RAM32X6_SDP_COS<3>/RAM32M0" LOC=SLICE_X16Y9;

INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR1/RAM32X6_SDP_SIN<0>/RAM32M0" LOC=SLICE_X20Y6;
INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR1/RAM32X6_SDP_SIN<1>/RAM32M0" LOC=SLICE_X20Y7;
INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR1/RAM32X6_SDP_SIN<2>/RAM32M0" LOC=SLICE_X20Y8;
INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR1/RAM32X6_SDP_SIN<3>/RAM32M0" LOC=SLICE_X20Y9;

INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR2/RAM32X6_SDP_COS<0>/RAM32M0" LOC=SLICE_X16Y10;
INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR2/RAM32X6_SDP_COS<1>/RAM32M0" LOC=SLICE_X16Y11;
INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR2/RAM32X6_SDP_COS<2>/RAM32M0" LOC=SLICE_X16Y12;
INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR2/RAM32X6_SDP_COS<3>/RAM32M0" LOC=SLICE_X16Y13;

INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR2/RAM32X6_SDP_SIN<0>/RAM32M0" LOC=SLICE_X20Y10;
INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR2/RAM32X6_SDP_SIN<1>/RAM32M0" LOC=SLICE_X20Y11;
INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR2/RAM32X6_SDP_SIN<2>/RAM32M0" LOC=SLICE_X20Y12;
INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR2/RAM32X6_SDP_SIN<3>/RAM32M0" LOC=SLICE_X20Y13;

INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR3/RAM32X6_SDP_COS<0>/RAM32M0" LOC=SLICE_X16Y14;
INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR3/RAM32X6_SDP_COS<1>/RAM32M0" LOC=SLICE_X16Y15;
INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR3/RAM32X6_SDP_COS<2>/RAM32M0" LOC=SLICE_X16Y16;
INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR3/RAM32X6_SDP_COS<3>/RAM32M0" LOC=SLICE_X16Y17;

INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR3/RAM32X6_SDP_SIN<0>/RAM32M0" LOC=SLICE_X20Y14;
INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR3/RAM32X6_SDP_SIN<1>/RAM32M0" LOC=SLICE_X20Y15;
INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR3/RAM32X6_SDP_SIN<2>/RAM32M0" LOC=SLICE_X20Y16;
INST "DSP/CORRELATOR/CXBLOCK4/CORRELATOR3/RAM32X6_SDP_SIN<3>/RAM32M0" LOC=SLICE_X20Y17;

INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR0/RAM32X6_SDP_COS<0>/RAM32M0" LOC=SLICE_X16Y18;
INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR0/RAM32X6_SDP_COS<1>/RAM32M0" LOC=SLICE_X16Y19;
INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR0/RAM32X6_SDP_COS<2>/RAM32M0" LOC=SLICE_X16Y20;
INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR0/RAM32X6_SDP_COS<3>/RAM32M0" LOC=SLICE_X16Y21;

INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR0/RAM32X6_SDP_SIN<0>/RAM32M0" LOC=SLICE_X20Y18;
INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR0/RAM32X6_SDP_SIN<1>/RAM32M0" LOC=SLICE_X20Y19;
INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR0/RAM32X6_SDP_SIN<2>/RAM32M0" LOC=SLICE_X20Y20;
INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR0/RAM32X6_SDP_SIN<3>/RAM32M0" LOC=SLICE_X20Y21;

INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR1/RAM32X6_SDP_COS<0>/RAM32M0" LOC=SLICE_X16Y22;
INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR1/RAM32X6_SDP_COS<1>/RAM32M0" LOC=SLICE_X16Y23;
INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR1/RAM32X6_SDP_COS<2>/RAM32M0" LOC=SLICE_X16Y24;
INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR1/RAM32X6_SDP_COS<3>/RAM32M0" LOC=SLICE_X16Y25;

INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR1/RAM32X6_SDP_SIN<0>/RAM32M0" LOC=SLICE_X20Y22;
INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR1/RAM32X6_SDP_SIN<1>/RAM32M0" LOC=SLICE_X20Y23;
INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR1/RAM32X6_SDP_SIN<2>/RAM32M0" LOC=SLICE_X20Y24;
INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR1/RAM32X6_SDP_SIN<3>/RAM32M0" LOC=SLICE_X20Y25;

INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR2/RAM32X6_SDP_COS<0>/RAM32M0" LOC=SLICE_X16Y26;
INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR2/RAM32X6_SDP_COS<1>/RAM32M0" LOC=SLICE_X16Y27;
INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR2/RAM32X6_SDP_COS<2>/RAM32M0" LOC=SLICE_X16Y28;
INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR2/RAM32X6_SDP_COS<3>/RAM32M0" LOC=SLICE_X16Y29;

INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR2/RAM32X6_SDP_SIN<0>/RAM32M0" LOC=SLICE_X20Y26;
INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR2/RAM32X6_SDP_SIN<1>/RAM32M0" LOC=SLICE_X20Y27;
INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR2/RAM32X6_SDP_SIN<2>/RAM32M0" LOC=SLICE_X20Y28;
INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR2/RAM32X6_SDP_SIN<3>/RAM32M0" LOC=SLICE_X20Y29;

INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR3/RAM32X6_SDP_COS<0>/RAM32M0" LOC=SLICE_X16Y30;
INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR3/RAM32X6_SDP_COS<1>/RAM32M0" LOC=SLICE_X16Y31;
INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR3/RAM32X6_SDP_COS<2>/RAM32M0" LOC=SLICE_X16Y32;
INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR3/RAM32X6_SDP_COS<3>/RAM32M0" LOC=SLICE_X16Y33;

INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR3/RAM32X6_SDP_SIN<0>/RAM32M0" LOC=SLICE_X20Y30;
INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR3/RAM32X6_SDP_SIN<1>/RAM32M0" LOC=SLICE_X20Y31;
INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR3/RAM32X6_SDP_SIN<2>/RAM32M0" LOC=SLICE_X20Y32;
INST "DSP/CORRELATOR/CXBLOCK5/CORRELATOR3/RAM32X6_SDP_SIN<3>/RAM32M0" LOC=SLICE_X20Y33;

INST "DSP/CORRELATOR/CXBLOCK4/VISRAM<0>/SRAM0" LOC=RAMB8_X1Y2;
INST "DSP/CORRELATOR/CXBLOCK4/VISRAM<1>/SRAM0" LOC=RAMB8_X1Y3;
INST "DSP/CORRELATOR/CXBLOCK4/VISRAM<2>/SRAM0" LOC=RAMB8_X1Y4;
INST "DSP/CORRELATOR/CXBLOCK4/VISRAM<3>/SRAM0" LOC=RAMB8_X1Y5;
INST "DSP/CORRELATOR/CXBLOCK4/VISRAM<4>/SRAM0" LOC=RAMB8_X1Y6;
INST "DSP/CORRELATOR/CXBLOCK4/VISRAM<5>/SRAM0" LOC=RAMB8_X1Y7;

INST "DSP/CORRELATOR/CXBLOCK4/MUXDAT0/MUXF7<0>" LOC=SLICE_X22Y2;
INST "DSP/CORRELATOR/CXBLOCK4/MUXDAT0/MUXF7<1>" LOC=SLICE_X22Y2;
INST "DSP/CORRELATOR/CXBLOCK4/MUXDAT0/MUXF7<2>" LOC=SLICE_X22Y3;
INST "DSP/CORRELATOR/CXBLOCK4/MUXDAT0/MUXF7<3>" LOC=SLICE_X22Y3;
INST "DSP/CORRELATOR/CXBLOCK4/MUXDAT0/MUXF7<4>" LOC=SLICE_X22Y4;
INST "DSP/CORRELATOR/CXBLOCK4/MUXDAT0/MUXF7<5>" LOC=SLICE_X22Y4;
INST "DSP/CORRELATOR/CXBLOCK4/MUXDAT0/MUXF7<6>" LOC=SLICE_X22Y5;
INST "DSP/CORRELATOR/CXBLOCK4/MUXDAT0/MUXF7<7>" LOC=SLICE_X22Y5;
INST "DSP/CORRELATOR/CXBLOCK4/MUXDAT0/MUXF7<8>" LOC=SLICE_X22Y6;
INST "DSP/CORRELATOR/CXBLOCK4/MUXDAT0/MUXF7<9>" LOC=SLICE_X22Y6;
INST "DSP/CORRELATOR/CXBLOCK4/MUXDAT0/MUXF7<10>" LOC=SLICE_X22Y7;
INST "DSP/CORRELATOR/CXBLOCK4/MUXDAT0/MUXF7<11>" LOC=SLICE_X22Y7;
INST "DSP/CORRELATOR/CXBLOCK4/MUXDAT0/MUXF7<12>" LOC=SLICE_X22Y8;
INST "DSP/CORRELATOR/CXBLOCK4/MUXDAT0/MUXF7<13>" LOC=SLICE_X22Y8;
INST "DSP/CORRELATOR/CXBLOCK4/MUXDAT0/MUXF7<14>" LOC=SLICE_X22Y9;
INST "DSP/CORRELATOR/CXBLOCK4/MUXDAT0/MUXF7<15>" LOC=SLICE_X22Y9;
INST "DSP/CORRELATOR/CXBLOCK4/MUXDAT0/MUXF7<16>" LOC=SLICE_X22Y10;
INST "DSP/CORRELATOR/CXBLOCK4/MUXDAT0/MUXF7<17>" LOC=SLICE_X22Y10;
INST "DSP/CORRELATOR/CXBLOCK4/MUXDAT0/MUXF7<18>" LOC=SLICE_X22Y11;
INST "DSP/CORRELATOR/CXBLOCK4/MUXDAT0/MUXF7<19>" LOC=SLICE_X22Y11;
INST "DSP/CORRELATOR/CXBLOCK4/MUXDAT0/MUXF7<20>" LOC=SLICE_X22Y12;
INST "DSP/CORRELATOR/CXBLOCK4/MUXDAT0/MUXF7<21>" LOC=SLICE_X22Y12;
INST "DSP/CORRELATOR/CXBLOCK4/MUXDAT0/MUXF7<22>" LOC=SLICE_X22Y13;
INST "DSP/CORRELATOR/CXBLOCK4/MUXDAT0/MUXF7<23>" LOC=SLICE_X22Y13;

INST "DSP/CORRELATOR/CXBLOCK5/VISRAM<0>/SRAM0" LOC=RAMB8_X1Y10;
INST "DSP/CORRELATOR/CXBLOCK5/VISRAM<1>/SRAM0" LOC=RAMB8_X1Y11;
INST "DSP/CORRELATOR/CXBLOCK5/VISRAM<2>/SRAM0" LOC=RAMB8_X1Y12;
INST "DSP/CORRELATOR/CXBLOCK5/VISRAM<3>/SRAM0" LOC=RAMB8_X1Y13;
INST "DSP/CORRELATOR/CXBLOCK5/VISRAM<4>/SRAM0" LOC=RAMB8_X1Y14;
INST "DSP/CORRELATOR/CXBLOCK5/VISRAM<5>/SRAM0" LOC=RAMB8_X1Y15;

INST "DSP/CORRELATOR/CXBLOCK5/MUXDAT0/MUXF7<0>" LOC=SLICE_X22Y18;
INST "DSP/CORRELATOR/CXBLOCK5/MUXDAT0/MUXF7<1>" LOC=SLICE_X22Y18;
INST "DSP/CORRELATOR/CXBLOCK5/MUXDAT0/MUXF7<2>" LOC=SLICE_X22Y19;
INST "DSP/CORRELATOR/CXBLOCK5/MUXDAT0/MUXF7<3>" LOC=SLICE_X22Y19;
INST "DSP/CORRELATOR/CXBLOCK5/MUXDAT0/MUXF7<4>" LOC=SLICE_X22Y20;
INST "DSP/CORRELATOR/CXBLOCK5/MUXDAT0/MUXF7<5>" LOC=SLICE_X22Y20;
INST "DSP/CORRELATOR/CXBLOCK5/MUXDAT0/MUXF7<6>" LOC=SLICE_X22Y21;
INST "DSP/CORRELATOR/CXBLOCK5/MUXDAT0/MUXF7<7>" LOC=SLICE_X22Y21;
INST "DSP/CORRELATOR/CXBLOCK5/MUXDAT0/MUXF7<8>" LOC=SLICE_X22Y22;
INST "DSP/CORRELATOR/CXBLOCK5/MUXDAT0/MUXF7<9>" LOC=SLICE_X22Y22;
INST "DSP/CORRELATOR/CXBLOCK5/MUXDAT0/MUXF7<10>" LOC=SLICE_X22Y23;
INST "DSP/CORRELATOR/CXBLOCK5/MUXDAT0/MUXF7<11>" LOC=SLICE_X22Y23;
INST "DSP/CORRELATOR/CXBLOCK5/MUXDAT0/MUXF7<12>" LOC=SLICE_X22Y24;
INST "DSP/CORRELATOR/CXBLOCK5/MUXDAT0/MUXF7<13>" LOC=SLICE_X22Y24;
INST "DSP/CORRELATOR/CXBLOCK5/MUXDAT0/MUXF7<14>" LOC=SLICE_X22Y25;
INST "DSP/CORRELATOR/CXBLOCK5/MUXDAT0/MUXF7<15>" LOC=SLICE_X22Y25;
INST "DSP/CORRELATOR/CXBLOCK5/MUXDAT0/MUXF7<16>" LOC=SLICE_X22Y26;
INST "DSP/CORRELATOR/CXBLOCK5/MUXDAT0/MUXF7<17>" LOC=SLICE_X22Y26;
INST "DSP/CORRELATOR/CXBLOCK5/MUXDAT0/MUXF7<18>" LOC=SLICE_X22Y27;
INST "DSP/CORRELATOR/CXBLOCK5/MUXDAT0/MUXF7<19>" LOC=SLICE_X22Y27;
INST "DSP/CORRELATOR/CXBLOCK5/MUXDAT0/MUXF7<20>" LOC=SLICE_X22Y28;
INST "DSP/CORRELATOR/CXBLOCK5/MUXDAT0/MUXF7<21>" LOC=SLICE_X22Y28;
INST "DSP/CORRELATOR/CXBLOCK5/MUXDAT0/MUXF7<22>" LOC=SLICE_X22Y29;
INST "DSP/CORRELATOR/CXBLOCK5/MUXDAT0/MUXF7<23>" LOC=SLICE_X22Y29;


