<div class="card channel-card bg-success" *ngIf="channel"
    [class.bg-danger]="channel.phase.ok === 0 || channel.radioMean.ok === 0">
    <h5>{{channel.id}}</h5>
    <label class="form-check-label">
        <input
            #channelCardCheckbox
            [attr.id]="'channel-card-' + channel.id + '-enabled'"
            class="form-check-input"
            type='checkbox'
            (change)="onChannelEnabledChanged($event)">
        Enabled
    </label>
    <div *ngIf="channel.phase">
        <h5>phase</h5>
        <div>N samples: {{channel.phase.nSamples}}</div>
        <div>measured: {{channel.phase.measured}}</div>
        <div>ok: {{channel.phase.ok}}</div>
        <div>stability: {{channel.phase.stability}}</div>
        <div>threshold: {{channel.phase.threshold}}</div>
    </div>
    <div *ngIf="channel.radioMean">
        <h5>radio mean</h5>
        <div>mean: {{channel.radioMean.mean}}</div>
        <div>ok: {{channel.radioMean.ok}}</div>
        <div>threshold: {{channel.radioMean.threshold}}</div>
    </div>
    <canvas baseChart
        class="channel-chart-display"
        [chartType]="'line'"
        [datasets]="lineChartData"
        [colors]="lineChartColors"
        [legend]="false"
        [options]="chartOptions"
        [labels]="lineChartLabels">
    </canvas>
</div>
