<table class="table table-sm table-responsive">
    <thead>
        <tr>
            <th style="width: 33%">File</th>
            <th style="width: 33%">Timestamp</th>
            <th style="width: 33%">Checksum</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let file of filePaths">
            <td style="width: 33%">
                <a [href]="baseLocation + '/' + file.filename" download>
                    {{file.filename | fileNameParse }}
                </a>
            </td>
            <td style="width: 33%"><small>{{file.timestamp}}</small></td>
            <td style="width: 33%"><small>{{file.checksum}}</small></td>
        </tr>
    </tbody>
</table>
