.object-value {
    margin: 0 12px 0 0;
    font-size: 16px;
}
.string-value , .status-content {
    margin: 0 0 20px 20px;
}
.status-row {
    margin-bottom: 16px;
}
.inline-btn {
    display: inline !important;
}
.status-content {
    padding:0px;
}

.channel-card {
    margin: 2px;
    padding: 4px;
}

.display-none {
    display: none;
}

#status-report-header {
    margin-bottom: 40px;
}

#fpga-output-container, #channel-output-container {
    overflow-x: hidden;
}
