<footer class="text-white bg-inverse">
    <span id="version-number-container">
        Version {{version}}
    </span>
    <span id="copyright-notice-container">
        Copyright © Electronics Research 2017-2021.
    </span>
    <span id="apidoc-link-container">
        <a class="text-white footer-link" href="doc/">Api documentation</a>
    </span>
    <span id="github-link-container">
        <a class="text-white footer-link" href="https://github.com/tmolteno/TART">Github</a>
    </span>
</footer>
