#status-map-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
}
#status-map-canvas {
    border: 1px solid black;
}
