<div class="form-group slider-component-container">
    <div class="slider-label-container">
        <label for="num-bins-input" class="slider-label-key">
            {{labelText}}
        </label>
        <span class="slider-label-value">
            {{labelValue}}
        </span>
    </div>
    <div class="slider-input-container">
        <nouislider
            [min]="minValue"
            [max]="maxValue"
            [step]="stepSize"
            (slide)="onSliderSlide($event)"
            (end)="onSliderEnd($event)"
            [(ngModel)]="sliderValue">
        </nouislider>
    </div>
</div>
