.slider-label-container {
    display: -webkit-inline-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
.slider-input-container {
    padding: 0 16px;
}

.slider-label-key {
    margin-bottom: 0px;
}

.slider-label-value {
    margin-left: 20px;
}

@media (max-width: 575px) {
    .slider-label-container {
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
    }

    .slider-label-value {
        margin-left: 0;
    }
}
