<div class="form-group row config-row">
    <div class="col-12">
        <label for="num-bins-input" class="col-3 col-form-label">
            {{labelText}}
        </label>
        <span>
            {{labelValue}}
        </span>
    </div>
    <div class="col-12">
        <nouislider
            [min]="minValue"
            [max]="maxValue"
            [step]="stepSize"
            (slide)="onSliderSlide($event)"
            (end)="onSliderEnd($event)"
            [(ngModel)]="sliderValue">
        </nouislider>
    </div>
</div>
