<div class="container-fluid">
    <div id="num-exp-row" class="row">
        <div class="col-12 col-md-3">
            <label id="num-samples-exp-label" for="num-samples-exp-input">
                Number of samples exponent:
            </label>
        </div>
        <div class="col-12 col-md-3">
            <input
                #numSamplesExpInput
                id="num-samples-exp-input"
                class="form-control"
                type="number"
                min="{{minNumSamplesExp}}"
                max="{{maxNumSamplesExp}}"
                value="{{numSamplesExp}}"
                (change)="onNumSamplesExpChanged($event)"
                step="1">
        </div>
    </div>
    <div id="integration-time-row" class="row">
        <div class="col-12 col-md-3">
            Integration time:
        </div>
        <div class="col-12 col-md-3">
            {{ integrationTime | number: '.5-5' }}[s]
        </div>
    </div>
    <div id="save-data-row" class="row form-check data-acquisition-row">
        <div class="col-12">
            <label class="form-check-label">
                <input
                    #saveDataToggle
                    id="save-data-toggle"
                    class="form-check-input"
                    type="checkbox"
                    (change)="onSaveDataChanged($event)">
                Save data
            </label>
        </div>
    </div>
</div>
