footer {
    padding-left: 20px;
    padding-right: 20px;
    height: 64px;
    line-height: 64px;
    font-size: 14px;
}
.footer-right {
    float: right;
}
.footer-right > a {
    margin-left: 20px;
}
