<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="download-table-cell">File</th>
                <th class="download-table-cell">Age</th>
                <th class="download-table-cell hidden-sm-down">Checksum (SHA-256)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let file of filePaths">
                <td class="download-table-cell">
                    <a [href]="baseLocation + '/' + file.filename" download>
                        {{ file.filename | fileNameParse }}
                    </a>
                </td>
                <td class="download-table-cell">
                    <small>{{timeNow | timeElapsed:file.timestamp}}</small>
                </td>
                <td class="download-table-cell hidden-sm-down">
                    <small>{{file.checksum}}</small>
                </td>
            </tr>
        </tbody>
    </table>
</div>
