.title-row {
    display: -webkit-flex;
    display:flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 8px;
}

.title-row-header {
    margin-bottom: 0;
}

.title-row-content-div {
    display: -webkit-flex;
    display: flex;
}

.visibility-toggle {
    margin-top:auto;
    color: #5bc0de;
    cursor: pointer;
}
